.breadcrumb-container {
  padding: 0 20px;

  .breadcrumbs.blog_posts {
    margin: 20px 0 0 0;
  }
}

.blog-post-header-container, .blog-post-content-container, .blog-post-footer-container {
  max-width: none;
  width: auto;
  margin: 0;
  padding: 0 20px;

  .blog-post-header-row, .blog-post-content-row, .blog-post-footer-row {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 1080px;
    border: none;
  }
}

.blog-post-header-container {
  .blog-post-header-row {
    > .container {
      padding: 20px 0 5px;

      @media (min-width: 768px) {
        padding: 110px 0 20px;
      }

      .title-row {
        h1 {
          margin: 20px 0;
        }
      }
    }

    .image-row {
      .image-wrapper {
        width: 100%;

        @media (min-width: 768px) {
          width: calc(100% + 2em);
        }
      }
    }

    &.no-img {
      > .container {
        .title-row {
          @media (min-width: 992px) {
            padding-right: 25rem;
          }
        }
      }
    }
  }
}

.blog-post-content-container {
  .blog-post-content-row {
    padding: 50px 0 50px;

    @media (min-width: 768px) {
      padding: 100px 0 80px;
    }

    @media (min-width: 992px) {
      padding-right: 25rem;
    }

    &> .container {
      padding: 0;

      .jcontent {
        h3 {
          font-weight: 800;
          font-size: 1.5rem;
          line-height: 1.666;
          margin-top: 2em;
          margin-bottom: 0;

          @media (min-width: 768px) {
            font-size: 1.8rem;
            line-height: 3rem;
          }
        }
      }
    }
  }
}

.blog-post-footer-container {
  background: #3c3c40;

  .blog-post-footer-row {
      padding-top: 60px;

    @media (min-width: 768px) {
      padding-top: 100px;
    }

    .discus {
      & > h1 {
        margin-top: 20px;
      }
    }

    .more-list {
      width: 100%;
      max-width: none;
      padding-bottom: 0;

      .blog-link-row {

        a {
          transition: none;

          &:before {
            transition: none;
          }

          &:hover {
            border: none;
          }
        }

        &:hover {
          a {
            position: relative;
            z-index: 1000;
            padding: 0 0 2rem;

            &::before {
              transition: none;
              content: " ";
              position: absolute;
              z-index: 0;
              margin-top: -1px;
              left: -20px;
              top: 0;
              height: calc(100% + 2px);
              width: calc(100% + 40px);
              border: 1px solid #89898e;
              border-right: 0px;
              border-left: 0px;
              background-color: #636366;
            }
          }
        }
      }
    }
  }
}