.breadcrumb-container {
  padding: 0 20px;

  .breadcrumbs.events {
    margin: 20px 0 0 0;
  }
}

.event-header-container, .event-content-container {
  max-width: none;
  width: auto;
  margin: 0;
  padding: 0 20px;

  .events-header-row, .events-content-row {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 1080px;
  }
}

.event-header-container {
  .events-header-row {
    > .container {
      padding: 20px 0 5px;

      @media (min-width: 768px) {
        padding: 110px 0 20px;
      }

      .title-row {
        @media (min-width: 992px) {
          padding-right: 25rem;
        }

        h1 {
          margin: 20px 0;
        }

        .deck.-event {
          padding: 0;
        }
      }
    }
  }
}

.event-content-container {
  .events-content-row {
    padding: 50px 0 50px;

    @media (min-width: 768px) {
      padding: 100px 0 80px;
    }

    @media (min-width: 992px) {
      padding-right: 25rem;
    }
  }
}