.main-container-fluid {
  .main.indiv_resource {

    .nostick & {
      .sidebar {
        padding-top: 23.8rem;

        @media (min-width: 992px) {
          padding-top: 22.3rem;
        }

        @media (min-width: 1090px) {
          padding-top: 19.7rem;
        }
      }
    }

    .container {
      .row {

        .page-heading {
          padding: 0 20px;

          .row.tighten {
            margin-right: 0;

            .social-share {
              text-align: left;

              @media (min-width: 992px) {
                margin: 13px 0;
                padding: 0 0 0 5rem;
              }

              a {
                margin-left: 21px;
                color: #c6c6c8;
                font-size: 15px;
              }
            }
          }

          .post-data-container {
            h1 {
              margin: 40px 0 2rem -3px;
              padding: 0;
            }

            .post-content {
              padding: 0;
            }

            .topics-wrapper {
              padding-bottom: 40px;
            }
          }
        }
      }
    }
  }

  .main.indiv_resource + .actual-page-content {

    .container {
      width: 100%;

      .row {
        .resource_no_top {

          .resource_main_html {
            padding: 40px 20px;

            .page-content.tighten {
              margin: 0;
              width: auto;

              @media (min-width: 1130px) {
                margin: 0 0 0 calc((95.7vw - 1080px)/2);
              }

              @media (min-width: 1520px) {
                margin: 0 0 0 calc((96.7vw - 1080px)/2);
              }
            }
          }

          h3 {
            font-size: 15px;
            line-height: 25px;
            margin: 36px 0 0;

            @media (min-width: 768px) {
              font-size: 18px;
              line-height: 30px;
            }
          }

          p {
            padding: 0;
          }
        }
      }
    }
  }
}