.main-row.-about {

  .container {

    padding: 20px 0 100px;

    @media (min-width: 768px) {
      padding: 40px 0 100px;
    }

    @media (min-width: 992px) {
      padding: 80px 25rem 100px 0;
    }

    h2 {
      font-size: 3rem;

      @media (min-width: 768px) {
        font-size: 4.5rem;
      }
    }
  }
}

.author-row {
  .container {
    width: 100%;
    padding-bottom: 20px;

    .author-col {

      h3, p {
        padding-right: 2.5rem;
      }
    }
  }
}