.main-container-fluid {
  .contact-container {
    padding: 0 20px;

    .-contact {
      padding: 50px 0;

      @media (min-width: 768px) {
        padding: 100px 0 80px;
      }

      .new_contact_form {
        .btn {
          margin: 30px -15px 0;
        }
      }
    }
  }
}