.main-row.-email {

  .container {
    padding: 60px 0 75px;

    @media (min-width: 768px) {
      padding: 90px 0 144px;
    }

    .content {
      @media (min-width: 992px) {
        padding-right: 25rem;
      }
    }
  }
}