.past-upcoming-row {
  max-width: none;
  width: 100%;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  .container {
    width: auto;
    margin: 0 auto;
  }
}

.events_container {

  padding: 0 20px;

  .event-row {

    &::before {
      transition: none;
    }

    &:hover {
      width: calc(100% + 40px);
      margin: 0 -20px;
      padding: 0 20px;
    }

    a.container {
      width: 100%;
      transition: none;

      .event-name, .event-date {
        padding: 0;
      }

      .event-name {
        h3 {
          font-size: 20px;
          line-height: 25px;

          @media (min-width: 768px) {
            font-size: 25px;
            line-height: 35px;
          }
        }
      }

      .location-container {
        width: auto;

        .location {
          span {
            display: block;

            @media (min-width: 768px) {
              display: inline;
            }
          }
        }
      }
    }
  }
}

.bottom-event-row {
  padding: 0 20px;

  .more-top {
    width: auto;
    margin: 0 auto;
    padding: 15px 0;
  }
}