.main-container-fluid {

  .-home {
    &.hero-row {
      padding: 50px 20px 30px;

      .list-inline {
        .list-inline-item {
          font-size: 1.5rem;
        }
      }

      @media (min-width: 768px) {
        padding: 130px 20px 62px;

        .list-inline {
          .list-inline-item {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .home_page_content {
    padding: 0 20px;

    .featured{

      @media (min-width: 768px) {
        padding: 40px 0;
      }

      @media (min-width: 992px) {
        padding: 80px 0;
      }

      .featured-container {
          border-bottom: none;

          > .row {
            /*
            //If they want the right padding again
            @media (min-width: 992px) {
              margin-right: 14rem;
            }

            @media (min-width: 1200px) {
                margin-right: 25rem;
            }
            */
          }

          .col-title {
            padding-left: 0;
          }
      }

      .featured-controller {
        max-width: $maxwidth;

        &> .row {
          &::before {
            content: " ";
            display: block;
            border-top: 2px solid #ebebeb;
            width: 100%;

            /*
            //If they want the right padding again
            @media (min-width: 992px) {
                width: calc(100% - 14rem);
            }

            @media (min-width: 1200px) {
              width: calc(100% - 25rem);
            }*/
          }

          .featured-slider-controls {
            padding-bottom: 0;

            @media (min-width: 768px) {
              padding-bottom:60px;
            }
          }
        }
      }

      @media (max-width: 1199px) {

        > .container{
          height: auto;

          .padding-right{
            margin: 0;
          }
        }
      }
    }

    .tools-container {
      .tools {
        .tool-container {

          .tools-row {
            @media (max-width: 1199px) {
              img {
                text-align: left;
                float: left;
              }
            }
          }

          .tool-row {

            .cat_descr {
              p {
                padding-left: 90px;
              }
            }

            @media (max-width: 1199px) {
              .caret-list {
                padding-left: 90px;

                li {
                  padding-left: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}