.main-container-fluid {
  .main {

    .all_resources {    padding-top: 18.5rem;
      width: 100%;
      padding: 0;
      margin: 40px 0 0;

      @media (min-width: 768px) {
        margin-top: 100px;
      }
      
      @media (min-width: 1130px) {
        margin: 100px  calc(((99.5vw - 1080px)/2) - 42px) 0;
        padding: 0 20px;
      }
    }

    .page-heading {
      padding: 0;

      .tighten {
        //margin: 0 calc((203.4vw - 1080px)/2);
        
        margin: 0;

        @media (min-width: 1130px) {
          margin: 0 0 0 calc((95.7vw - 1080px)/2);
        }

        @media (min-width: 1400px) {
          margin: 0 0 0 calc((96.2vw - 1080px)/2);
        }

        @media (min-width: 1520px) {
          margin: 0 0 0 calc((96.7vw - 1080px)/2);
        }

        .breadcrumbs {
          margin: 20px 0;
        }
      }
    }

    .viewing-results-row {
      /*@media (min-width: 992px) {
        max-width: 85%;
        margin-right: 25%;
      }*/

      h2 {
        margin-left: -2px;
        margin-bottom: 20px;
        line-height: 4.5rem;

        @media (min-width: 768px) {
          width: 75%;
          margin-top: 50px;
        }
      }

      p {
        max-width: $maxwidth;
        margin-bottom: 0;

        @media (min-width: 768px) {
          width: 75%;
        }
      }
    }

    .resources-content {
      padding: 0;
      margin: 80px auto 0;
      max-width: $maxwidth;
      min-height: 680px;

      .page-content {
        margin: 0;
        width: 100%;

        @media (min-width: 768px) {
          width: 75%;
        }

        .resources {
          .resource {
            display: block;
            border-top: none;
            border-bottom: 1px solid transparent;

            &::before {
              content: " ";
              display: block;

              border-top: 1px solid #ebebeb;
            }

            &:hover {
              position: relative;
              border-top: 1px solid transparent;

              &::before {
                position: absolute;
                height: calc(100% + 2px);
                background-color: #faf7f7;
                border: 1px solid #ebebeb;
                border-right: none;
                border-left: none;
                left: 0;
                right: 0;
                margin: 0 -20px;

                @media (min-width: 768px) {
                  left: 50%;
                  right: 50%;
                  margin-left: -50vw;
                  margin-right: -50vw;
                }
              }

              .listing {
                position: relative;
                z-index: 1000;
              }
            }
          }
        }
      }

      .pagination {
        margin: 0;
      }

      .circle-icon-cta {
        &::before {
          content: "\f107";
          padding-top: 12px;
          padding-left: 11px;
        }
      }
    }
  }
}