/*
   Search Page
 */

.hero-search {
  .container {
    width: 100%;
  }
}

.search-results-wrapper {
  padding-top: 0;
}

.search-results-container {
  padding: 80px 20px 0;

  .container {
    width: 100%;
    max-width: none;

    .page-content {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      max-width: $maxwidth;

      .circle-icon-cta {
        &::before {
          content: "\f107";
          padding-top: 12px;
          padding-left: 11px;
        }
      }
    }
  }
}

.search-form-row {
  position: relative;
  z-index: 0;
}

.search-results-row {
  z-index: 3;
  margin: 0rem 10rem;
  // padding: 0rem 14rem 0rem 7rem;
}

.search-results-row:hover:before {
  width: 100%;
  overflow-x: hidden;
  border: 1px solid $gray2;
  border-right: 0px;
  border-left: 0px;
}