
<% events.each do |event| %>

<div class="event-blog-row">
  <div class="container">
    <a href="events/<%= event.slug %>">
      <div class="row">
        <div class="col-xl-8 order-xl-last col-lg-8 order-lg-last col-md-12 col-sm-12 col-12">
          <h3><%= event.name %></h3>
        </div>
        <div class="col-xl-4 order-xl-first col-lg-4 order-lg-first col-md-12 col-sm-12 col-12">
          <h3><%= show_dates(event) %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <p class="small-caps location"><strong>Location&nbsp;</strong> <span><%= event.location %></span></p>
        </div>

      </div>
    </a>
  </div>
</div>

<% end %>

