<%= @page.main.split('<h2>Partners</h2>').first.html_safe %>
		    </div>
		    </div>
		    </div>
		    </div>
		    <div class="container mt-2">
			<h2>BSSw Editorial Team</h2>
			<div class="limiter team">
			    <div class="row">
				<% Staff.displayed.order('title desc, last_name asc').group_by(&:section).each do |section, staff| %>


				    <% staff.each do |author| %>
					<%= render 'resources/author', :author => author, :section => section %>
				    <% end %>



				<% end  %>
			    </div>
			</div>

			<h2>Partners</h2>
			<%= @page.main.split('<h2>Partners</h2>').last.html_safe %>
		    </div>
		    </div>

