.main-container-fluid {
  .main {
    .resource_search {
      padding: 0 20px;
    }

    .breadcrumbs {
      ul li {
        font-size: 12px;
        letter-spacing: 0.84px;
        line-height: 20px;

        &::after {
        position: relative;
        top: 2px;
      }

        @media (min-width: 768px) {
          font-size: 15px;
          letter-spacing: 1.05px;
          line-height: 30px;

          &::after {
            position: static;
          }
        }
      }
    }
  }

  .main.indiv_resource {
    .page-heading {

    }
  }
}