.post-meta {

  .post-date,
  .post-author {
    font-size: 12px;
    line-height: 25px;

    @media (min-width: 768px) {
      font-size: 15px;
      letter-spacing: 1.05px;
    }
  }
}

.details-row {
  h3 {
    &.-smallcaps {
      font-size: 12px;

      @media (min-width: 768px) {
        font-size: 15px;
      }
    }
  }
}

.topics {
  .row {

    .topics-heading {
      grid-row-start: 1;

      margin-top: 1px;

      font-size: 12px;
      line-height: 25px;

      @media (min-width: 768px) {
        margin-top: 15px;
        font-size: 15px;
        letter-spacing: 1.05px;
      }
    }

    .topic,
    .sub-topic {

      &:first-of-type {
        grid-row-start: 1;
      }

      margin-top: 0;
      line-height: 25px;

      a {
        font-size: 12px;
        line-height: 25px;
      }

      @media (min-width: 768px) {

        margin-top: 15px;

        a {
          font-size: 15px;
          letter-spacing: 1.05px;
        }
      }
    }

    .sub-topic {

      &#sub-topic-0 {
        grid-row-start: 1;
      }

      background:url('arrow-down-right.png') no-repeat 3px 4px;

      a {
        display: block;
        padding-left: 20px;

        padding-top: 1px;

        @media (min-width: 768px) {
          padding-top: 0;
        }
      }
    }
  }
}