body:not(.scrollup) .nav-container-fluid, body.scrollup .nav-container-fluid {

  z-index: 2000;

  & > .row {

    & > .container {

      & > .navbar {

        z-index: 2000;

        & > .navbar-collapse {

          & > .navbar-nav {

            &.navbar-right {


              .dropdown .dropdown-menu-full {
                z-index: 2000;
                width: 100vw;
                margin-top: 0 !important;
                //          ? * ((full width of screen - (? - ( scrollbar size ) ) ) / ? )
                left: calc(-1 * ((100vw - (calc(100% - calc(10px + 5px)))) / 2));
                padding-right: 70px;
                padding-bottom: 60px;
                padding-left: 8rem;

                @media (min-width: 768px) {
                  padding-bottom: 52px;
                }
                
                @media (min-width: 1200px) {
                  padding-bottom: 75px;
                  padding-left: 6.5rem;
                }

                .container {

                  @media (min-width: 1210px) {
                    max-width: 1070px !important;
                  }

                  margin: 0 auto;
                  padding-left: 5rem;

                  .row {
                    div {
                      padding: 0rem;

                      h3 {
                        font-size: 15px;
                        padding-left: 2px;
                        display: inline-block;
                        text-transform: uppercase;
                        font-weight: bold;

                        @media (max-width: 767px) {
                          font-size: 1.15rem;
                          margin-bottom: 0;
                        }
                      }

                      h2 {
                        font-size: 3.5rem;
                        margin-bottom: 1rem;
                        line-height: 3.5rem;

                        @media (max-width: 767px) {
                          font-size: 2.5rem;
                          line-height: 2.5rem;
                          margin-bottom: 0.5rem;
                        }
                      }
                    }

                    .col-sp-12 {
                      @media (max-width: 560px) {
                        width: 100%;

                      }
                    }

                    .gap {
                      padding-right: 4rem;

                      @media (max-width: 560px) {
                        padding-right: 0;
                      }
                    }

                    .nav-heading {
                      .circle {
                        border: 3px solid $blue3;
                        margin-left: 5px;

                        .fas {
                          font-size: 44px;
                        }

                        @media (max-width: 767px) {
                          margin-left: 0;
                          margin-top: 7px;

                          .fas {
                            font-size: 30px;
                          }
                        }
                      }

                      &:hover {
                        -webkit-transition: none;
                        transition: none;

                        .circle {
                          border-color: $blue6;
                          -webkit-transition: none;
                          transition: none;
                        }

                        i, a {
                          color: $blue6;
                          -webkit-transition: none;
                          transition: none;
                        }
                      }
                    }

                    .nav-heading-link h2 a {
                      -webkit-transition: none;
                      transition: none;

                      @media (max-width: 767px) {
                        font-size: 1.7rem;
                      }

                      &:hover {
                        -webkit-transition: none;
                        transition: none;
                        color: $blue6 !important;
                      }
                    }

                    .nav-heading-link {
                      -webkit-transition: none;
                      transition: none;

                      &:hover {
                        -webkit-transition: none;
                        transition: none;
                        color: $blue6 !important;

                        h2 {
                          -webkit-transition: none;
                          transition: none;
                          color: $blue6 !important;
                        }
                      }
                    }

                    .all-resources-col {
                      margin-top: 0;

                      .circle {
                          margin-top: 3px;

                        @media (max-width: 560px) {
                          margin-top: 0;
                        }
                      }

                      h2 {
                        padding-top: 8px;

                        a {
                          font-size: 2.5rem;
                          line-height: 2.5rem;
                        }
                      }

                      @media (min-width: 768px) {
                        margin-top: 52px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        h2 {
                          padding-top: 14px;

                          a {

                            font-size: 3.5rem;
                            line-height: 3.5rem;
                          }
                        }
                      }

                      @media (min-width: 1200px) {
                        margin-top: -22px;
                        display: block;
                        justify-content: unset;
                        align-items: unset;


                        h2 {
                          padding-top: 16px;
                        }
                      }
                    }

                  }
                }

                .circle {
                  .fas {
                    top: 31%;
                    left: 54%;

                    @media (max-width: 767px) {
                      top: 21%;
                    }
                  }
                }

                .caret-list {
                  min-height: unset;
                  padding-left: 62px;

                  @media (min-width: 561px) {
                    min-height: 148px;
                  }

                  @media (min-width: 768px) {
                    padding-left: 72px;
                    min-height: 164px;
                  }

                  @media (min-width: 865px) {
                    min-height: 140px;
                  }
                  
                  @media (min-width: 1200px) {
                    min-height: 330px;
                  }

                  li {
                    text-indent: 0px !important;
                    padding-left: 0px !important;
                    margin-left: -45px;

                    @media (max-width: 767px) {
                      margin-left: -48px;
                    }

                    &:before {
                      padding-right: 5px;
                    }

                    a {
                      margin-left: 20px;
                      margin-top: -32px;
                      display: block;

                      @media (max-width: 767px) {
                        margin-top: -24px;
                      }

                      &:before {
                        &:hover {
                          color: $blue6;
                        }
                      }
                    }
                  }

                  .active a {
                    background: transparent !important;
                  }
                }
              }


              .dropdown-menu.dropdown-menu-full {

                @media (min-width: 768px) and (max-width: 1199px) {
                  padding-left: 3.2rem;
                }

                .container {
                  max-width: 100%;
                  padding-left: 0;

                  @media (min-width: 768px) and (max-width: 1199px) {
                    width: auto;
                    max-width: 1036px !important;
                  }

                  .row {
                    max-width: 100%;
                    flex-wrap: unset;
                    display: block;

                    .col-xl-4, .col-lg-4, .col-sm-12, .col-12 {
                      flex: none;
                      max-width: none;
                    }
                  }
                }

                @media (max-width: 767px) {
                  max-width: 100%;
                  padding-top: 1.2rem;
                  padding-right: 20px;
                  padding-left: 20px;

                  .nav-heading {
                    margin-top: 0;

                    .circle {
                      margin-left: 0;

                      height: 40px;
                      width: 40px;
                    }
                  }

                  .caret-list {

                    li {

                      font-size: 14px;

                      &:last-of-type {
                        margin-bottom: 70px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}