#main_dropdown {
  .resources {
    display: none;
  }
}

/*
  Dropdown Menu when page is scrolled
*/

.scrollup {

  @media (min-width:767px) and (max-width: 1199px) {
    .nav-container-fluid {
      padding: 0 20px;

      .row {
        .container {
          width: 100%;
        }
      }
    }
  }

  @media (min-width:767px) {
    #navbar[aria-expanded="true"] {
      #main_dropdown {
        .resources {
          display: block;
        }
      }
    }
  }

  #main_dropdown {

    @media (min-width:767px) {

      > li:nth-of-type(3) {
        padding-top: 2.5em;
      }

      > li:nth-of-type(3), > li:nth-of-type(4), > li:nth-of-type(5) {

        > a {
          padding-left: 6px;
        }
      }

      .resources {
        width: 20em;
        clear: none;
        float: left;
        padding-top: 2em;
        padding-bottom: 1.5em;
        padding-left: 0;

        .dropdown-toggle {
          display: none;
        }

        & > .dropdown-menu {

          & > li {

            &:first-of-type {

              &:before {
                display: inline-block;
                font-weight: 400;
                width: auto;
                border: none;
                border-bottom: 1px solid $blue5;
                content: 'Find Resources by Topic';
                margin-bottom: 1.733em;
                padding-top: .65em;
                padding-bottom: 1.733em;
              }
            }

            & > a {

              &::before {
                @include pseudo-element-global-caret;

                color: #8dcbfe;
                display: inline-block;

                margin-right: .5em;

                @media (min-width: 48em) {
                  margin-right: 1.2em;
                }
              }

              &:hover {

                &::before {

                  color: #19197D;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width:767px) {

      .resources > .dropdown-menu > li {

        &:first-of-type {
          &:before {
            width: calc(100% - 1.5em);
            font-size: 2.6rem;
            font-weight: 400;
            margin-left: .75em;
            margin-bottom: 1.45em;
            padding-top: 1.116em;
            padding-bottom: 1.731em;
          }
        }

        &:last-of-type {
          &> a {
            margin-top: 1.5em;
          }
        }
      }
    }

  }
}