/*
  Search icon
 */

.fa-search {
  font-weight: 600 !important;
}

/*
  Search Bar
 */
body:not(.scrollup)  {
  .navbar-nav {

    .search {

      position: relative;

      .dropdown-menu {
        position: static;
        margin-bottom: 0;
        padding-left: 0;

        @media (min-width: 768px) {
          position: absolute;
          margin-bottom: -2rem;
        }

        li {
          background-color: $blue2;
        }
      }
    }
  }
}


/*
  Hamburger
 */
@media (max-width:767px) {
  body:not(.scrollup) {
    .navbar-nav {

      .search {

        .dropdown-menu {

          .navbar-form {
            padding-left: 0.5em;

            input[type="text"] {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}

body:not(.scrollup) .search.open > .dropdown-menu .navbar-form {
  padding-top: 7px;
  padding-bottom: 1.4rem;
}

body:not(.scrollup) .nav .search .input-group-btn > .btn {

  top: -3px;

  @media (min-width: 768px) {
    right: -36px;
  }
  
  @media (min-width: 992px) {
    right: -10px;
  }
}

body.scrollup .nav .search .input-group-btn > .btn {
  top: -4px;
  right: -21.5px;
}