.author-row {
  margin-top: -200px;

  .row {
    margin: 0 -15px;
  }

  .author-col {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0 15px 2em;

    @media (min-width: 768px) {
      height: 670px;
    }

    @media (min-width: 1200px) {
      height: 530px;
    }
  }
}