.main-container-fluid {

  .hero-row {
    padding: 50px 20px;
    min-height: unset;

    .hero-container {

      width: 100%;
      margin: 0 auto;
      max-width: 1080px;

      .container {
        width: 100%;
        margin: 0;
        max-width: 1080px;
      }

      .hero-content {

        h1 {
          margin: 0;
          padding: 0 0 10px 0;
          font-size: 3rem;
          line-height: 1.2;
        }

        p {
          margin: 0;
          font-size: 1.5rem;
          line-height: 1.666;
        }

        h1, p {
          @media (min-width: 992px) {
            padding-right: 25rem;
          }
        }
      }
    }

    @media (min-width: 768px) {
      padding: 130px 20px 80px;

      .hero-container {

        .hero-content {

          h1 {
            font-size: 4.5rem;
            line-height: 5.4rem;
          }

          p {
            font-size: 2.6rem;
            line-height: 3.6rem;
          }
        }
      }
    }
  }

  .main-row {
    max-width: none;
    width: auto;
    margin: 0;
    padding: 0 20px;

    .container {
      width: 100%;
      margin: 0 auto;
      max-width: 1080px;
    }

  &.-fellows,
  &.-policies {
    .container {
      padding: 50px 0;

      @media (min-width: 768px) {
        padding: 100px 0 80px;
      }

      @media (min-width: 992px) {
        padding-right: 25rem;
      }
    }
  }

    .content {
      h2 {
        font-size: 3rem;

        @media (min-width: 768px) {
          font-size: 4.5rem;
        }
      }
    }
  }

  .main {
    .main {
      padding: 0 20px;
    }
  }

  .limiter {
    padding: 0 20px;
  }
}

.page-content {

  p, h3, h4 {
    font-size: 15px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  h3 {
    font-weight: 800;
  }
}

.intro-to-cse + .main-row,
.intro-to-hpc + .main-row {

  .container {
    padding: 50px 0;

    @media (min-width: 768px) {
      padding: 100px 0 80px;
    }
  }

  p, ul {
    a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

