/*ORI TODO: Code to reformat and integrate*/

// Medium devices (tablets, 48em and up)
@media (min-width: 768px) {
  // Footer - medium

  .footer {
    padding: 0;
  }

  #footer {

    & > .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .links {
      padding-top: 2em;
    }

    .copyright-txt, .copyright-img-col {
      display: flex;
      align-items: flex-end;
    }
  }
}

// Large devices
@media (min-width: 1200px) {
  // Footer - large

  #footer .copyright {
    display: flex;
    margin-top: 0;
  }
  #footer .links, #footer .logo + .links {
    padding-top: 0;
    clear: none;
  }
}

/*ORI end*/

/*
  Styling for footer when the side bar is present
 */

//1150

@media (min-width: 768px) {
  footer {
    .footer .container {
      width: 560px !important;
      margin: 0rem;
    }
  }
}

@media (min-width: 992px) {
  footer .footer .container {
    width: 746px !important;
    margin: 0rem;
  }

  #footer .caret-list, .footer .caret-list {
    margin-top: -7px;
  }
}

@media (min-width: 1125px) {//1130
  footer .footer .container {
    width: 746px !important;
    margin: 0rem calc((100.2vw - 1139px)/2);
  }
}

@media (min-width: 1200px) {
  footer .footer .container {
    width: 805px !important;
    margin: 0rem calc((99.2vw - 1080px)/2);
  }
}

/*
  Styling for footer
 */

footer {
  &.full_footer {
    width: 100%;

    .footer, .quote {
      .container {
        width: 100% !important;
        padding: 0rem;
        max-width: $maxwidth;
        // margin: 0rem calc((100vw - 1080px)/2);
        margin: 0rem auto !important;
      }
    }
  }

  &:not(.full_footer) {
    .footer {
      @media (min-width: 1200px) {
        margin-left: -20px;
      }
    }
  }

  .quote {
    padding: 80px 20px;

    .quote-author {
      margin-top: -4rem;
      margin-left: 45px;
    }
    .quote-circle {
      margin-top: -15px;
      margin-left: -1px;
      width: 60px;
      height: 60px;
    }
    .quote-text {
      padding-left: 4.5rem;

      @media (max-width: 767px) {
        font-size: 4rem;
      }
    }
  }

  .footer {
    padding: 4rem 20px 2em;

    .container {

      //row reset (gives height)
      .row {
        overflow: auto;
      }

      //Col style reset from customisation
      .col-xl-4, .col-lg-4 {
        flex: none;
        max-width: none;
      }

      .caret-list {

        @media (max-width: 991px) {
          padding-top: 2em;
        }

        padding-right: 15px;
        padding-left: 15px;

        &.first-caret-list {
          padding-left: 2px;
        }

        @media (max-width: 767px) {

          &.first-caret-list, &.last-caret-list {
            padding-left: 0;
            margin-left: -3px;
          }

          &.last-caret-list {
            padding-top: 0;
          }
        }
      }

      .copyright {

        .copyright-img {

          @media (max-width: 991px) {

            &:first-of-type {

              padding-left: 0;
            }
          }
        }
      }

      .copyright-txt, .copyright-img-col {
        padding: 0rem;
      }

      .copyright-txt:before {
        left: 0px;
        background-color: transparent;
      }

      li {
        line-height: 2.6rem;

        @media (max-width: 767px) {
          padding-left: 3rem;
        }
      }
    }
  }

  .footer-logo {
    margin-left: 0;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 767px) {
  footer.full_footer .container {
    margin: 0rem auto;
  }

  footer {
    .footer {
      padding: 4rem 20px 2em;
    }
  }
}

@media (min-width: 992px) {
  .footer {
    .container {
      .footer-nav {
        padding-bottom: 125px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  footer {
    .footer {
      .copyright {
        .copyright-img {
          &:first-of-type {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    .container {
      .footer-nav {
        div:nth-of-type(2) {
          padding-left: 25px;
        }
      }
    }
  }
}