.sidebar .caret-list {
  padding-left: 0rem;
  margin-left: -6px;
  li {
    font-size: 18px;
    margin-bottom: 0rem;
    line-height: 2rem;
    text-indent: 0px;
    padding-left: 5px;
    &:hover {
      color: $blue6;
      a {
        color: $blue6;
      }
    }

    a {
      display: block;
      margin: 1rem 0;
      margin-top: -2.1rem;
      margin-left: 37px;
    }
  }
  li:before {
    padding-right: 10px;
    @include pseudo-element-global-caret;
  }
  .active {
    &:before {
      color: $blue6;
    }
    a {
      color: $blue6;
    }
  }
}

.sidebar {
  width: 25%;
  right: 0;
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
}


.sidebar {
  border-left: 1px solid #ccc;
  padding-right: 0px;
  margin-right: -36px;
  position: relative;
  width: auto;
  margin-left: 5px;
  margin-top: -3rem;
  border-right: 1px solid white;
  box-sizing: content-box;
}

.sidestick .sidebar {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}
.scrollup .sidebar {
  padding-top: 50px;
  @include transition(all, 0.2s, ease-in-out)
}
.nostick .sidebar {
  padding-top: 13.9rem;
  @include transition(all, 1s, ease-in-out)
}

.nostick .all_resources_page .sidebar {
  padding-top: 18.5rem;
}

.sidebar-inner {
  padding-top: 1rem;
  width: 240px;
  h4 {
    margin-top: 0rem;
  }
}

@media (max-width: 1199px) {
  .sidebar {
    right: 0;
  }
}

/*
@media (min-width: 768px) also know as @media (min-width: 48em)
@media (min-width: 992px) also know as @media (min-width: 62em)
@media (min-width: 1200px)
*/

.sidebar {

  .sidebar-inner {

    h4, h2, .card-header .btn, .caret {
      font-size: 15px;
    }

    .caret {
      margin-left: 1px;

      &:before {
        @include pseudo-element-global-caret;
        padding-right: 27px;
      }

      a {
        margin-left: -2px;

        @media (max-width: 1199px ) {
          position: absolute;
          width: 100px;
          line-height: 1.428571429;
          margin-top: 6px;
          margin-left: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main.indiv_resource {
    .sidebar-col {
      margin-left: -22px;
    }
  }
}

@media (max-width: 1199px) {

  .sidebar {

    max-width: 100%;
    margin-top: -8rem;
    padding-left: 20px;
    padding-right: 9px;

    .sidebar-inner {

      max-width: 100%;

      .panel-group {

        .card {

          .card-header {

            h2 {

              .btn {

                white-space: pre-line;
                padding: 15px 0;
              }
            }
          }

          .card-body {

            .caret-list {

              li {

                font-size: 15px;

                a {
                  margin-left: 27px;
                }
              }
            }
          }
        }
      }

      .caret {

        &:before {

          padding-right: 17px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {

  .sidebar {
    .sidebar-inner {
      h4, h2, .card-header .btn, .caret {
        font-size: 18px;
      }
    }
  }
  .sidebar {
    margin-top: -8rem;
  }
}