<div class="error-container">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="error">
					<img class="error-logo" src="/assets/ErrorGraphic_Transparent_130_74.png">
					<div class="message">
						<h1>Sorry,<br />something went wrong.</h1>

<p class='small-caps'>An error occurred handling your request. Please try again soon since this problem may be temporary.</p>

					</div>
	          	</div>
			</div>
		</div>
	</div>
</div>
