<div class="error-container">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="error">
					<img class="error-logo" src="/assets/ErrorGraphic_Transparent_130_74.png">
					<div class="message">
						<h1>Sorry,<br />something went wrong.</h1>
		          		<p class="small-caps">404: Page Not Found</p>


		          		<p class="small-caps">
The URL you entered is not available. Currently the BSSw team is optimizing content and as a result page names are changing. If you believe you received this message in error, please visit our <a href="/items/search">site search page</a>.

</p>
					</div>
	          	</div>
			</div>
		</div>
	</div>
</div>
