
<% if resource.topics %>
  <div class="topics-wrapper">
    <div class="topics">
      <div class="row">
	<span class="topics-heading">TOPICS</span>
	<% index = 0 %>
	<% resource.categories.each do |cat| %>
	  <% if cat %>
	    <div class="topic">
	      <%= link_to cat.name, "/items?category="+cat.slug %>
	    </div>
	    <% resource.topics.select{|t| t.category == cat}.each do |basic| %>
	      <% if basic.category == cat %>
		<div class="sub-topic" id="sub-topic-<%= index %>"><%= link_to basic.name, "/items?topic="+basic.slug %>
		</div>
		<% index = index + 1 %>
	      <% end %>
	    <% end %>
	  <% end %>
	<% end %>
      </div>
    </div>
  </div>
</div>
<!-- topics: <%= resource.topics.map(&:name) %> -->
<% end %>
