/* ------------------------
Colors
------------------------ */



$blue1: #18187d;    // hero and nav bg
$blue2: #349dff;    // button bg - main nav bg - CYAN
$blue3: #b9ffff;    // bottom nav border - nav links
$blue4: #B9FFFF;    // active dropdown txt
$blue5: #19d7ff;    // robin's egg blue
$blue6: #19197D;    // midnight blue - body link hover         rgb(25,25,125)
$blue7: #d6ebff;    // unselected check box border
$blue8: #23caff;    // bright blue — blog single footer links
$blue9: #d6ebff;    // unfocused form field backgrounds
$blue10: rgba(25,25,125,.7);
$blue11: #30308a;   // active page nav bg

$gray1: #3c3c40;    // top links bg
$gray2: #cececf;    // top links txt
$gray3: #89898e;    // top link bg hover
$gray4: #dcdcdd;    // light light gray for bottom borders
$gray5: #faf7f7;    // nearly white - bg for single headers/deck
$gray6: #636366;    // blog post footer link hover

$yellow1: #ffff9b;  // announcement bg
