/* ------------------------
Events + Communities + Contributors
------------------------ */


.event-row {
  @extend %listing-row;
  .row { position: relative; }
}

.past-upcoming-row {
  text-align: right;

  p { margin: 0; }

  a {
    display: block;
    float: right;
    padding: 1em;
    @include hover { background: $gray5; }
  }
}


.event-date h3 { margin-top: 0; }




// Event Single - Community Single

.community-content-row,
.events-content-row {
  @extend %bodycontentrow;
  .content {
    @extend %bodycontentstyles;

    .event-website > a {
      font-weight: 400;
    }
  }
}



// Communities landing
// url/pages/communities-overview

.-communities-overview.content ul {
  &> li:before {
    content: '';
  }

  &> li {
    padding-left: 0;
    @extend %-chevronright-circle;

    &> a {
      display: block;
      padding-bottom: .2em;
      @extend %-mdtxt;
    }
  }
}




// Event Single

.events-header-row {
  @extend .header-row;

  .details-row {
    padding-bottom: .25em;

    h3.-smallcaps {
      line-height: 2.7rem;
      margin: 0;
    }
  }
}

.deck.-event {
  padding-top: 2em;
  padding-bottom: 4em;
}


.event-website > a {
  @extend %-mdtxt;

  &:before {
    font-family: 'Font Awesome 5 Pro';
    display: inline-block;
    content: '\f08e';
    margin-right: .5em;
  }
}

.location { margin-bottom: 0; }




// Community Single

.community-header-row {
  @extend %header-row-two;
}


.learn-more { @extend .see-all; }


.community-content-row  {
  .content {
    ul > li        { padding-left: 0;             }
    ul > li:before { display: none;               }
    ul > li > a    { @extend %resource-link-body; }
  }
}


.community-footer-row {
  @extend %footer-dark;

  .resource-row {
    @extend %listing-row-dark;
  }
}
