/* ------------------------
Global
------------------------ */




// Typography - colors and sizes

body {
  @include antialias;
  @extend %-bodytxt;
  color: $gray1;
  font-family: 'Roboto', sans-serif;
}

.wrapper { background: white; }

.-inherit { font-size: inherit; }

.-bold { font-weight: bold; }

%-smallcaps, .-smallcaps {
  color: $gray3;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  letter-spacing: .07em;
  text-transform: uppercase;
}

.-lineheight { line-height: 2rem; }

.-texthead {
  color: $gray1;
  position: relative;

  &:after {
    height: 1px;
    display: block;
    width: 100%;
    background: $gray3;
    content: '';
  }
}

%-lgtxt   { font-size: 3rem;   line-height: 1.2;   }
%-mdtxt   { font-size: 2rem;   line-height: 1.3;   }
%-bodytxt { font-size: 1.5rem; line-height: 1.666; }

h1, h2, .hero-row h3 { @extend %-lgtxt; }

h3 { @extend %-mdtxt; }
h4, h5, h6 { @extend %-bodytxt; }


.disqus  { h1, h2, h3 { @extend %-lgtxt; } }
.more-on { h1, h2, h3 { @extend %-lgtxt; } }




// Colors applied

a {
  color: $blue2;
  @include transition-multi(background $trans, color $trans);

  @include hover {
    color: $blue6;
    text-decoration: none;
    @include transition-multi(background $trans, color $trans);
  }
}

.-blue6txt { color: $blue6;     }

.-gray5bg  { background: $gray5; }




// Structure

.container    { display: block; }
.well         { padding-right: 0; padding-left: 0; }
.pull-right   { float: right; }
.list-inline  { margin-left: 0; }
.-inline      { display: inline; }
.-inlineblock { display: inline-block; }

.-displayflex { display: flex; }
.-mobile-hide { display: none; }


img { max-width: 100%; }

.-contentp + .-contentp { margin-top: 1em; }


$container: 100%;
%container { width: $container; }



.bodyhead-row { h1, h2, h3, h4, h5, h6, p { margin-bottom: 0; } }
.bodyhead-row > .container       {
  padding-top: 1.5em;
  padding-bottom: 2.6em;
  position: relative;
}
.bodyhead-row > .container:after { @extend %-grayborderafter;  }


.-paddedrow { padding-top: 2em; padding-bottom: 1em; }
.-heropaddedrow { padding-top: 2em; padding-bottom: 2em; }


.quote blockquote {
  color: $gray3;
  border: none;
  margin: 0;
  padding: 0 0 0 1em;
  position: relative;

  &:before {
    width: 1.166em;
    height: 1.166em;
    background-image: url('./icon-quotecircle.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: block;
    position: absolute;
     top: 0;
     left: -1em;
  }
}

.fa.fa-search {
  @include scalexy(-1, 1);
}

.form-control {
  @include border-radius(0);
  @include box-shadow-none;
  @include hover { @include box-shadow-none; }
}


// "Refine Results" link
.main-container-fluid .navbar-form { margin-top: 0; }
.main-container-fluid .navbar-form .navbar-nav > li > a { line-height: inherit; }

// Blog
.main-container-fluid .-blog.main-row .container { padding-bottom: 0; }

.main-container-fluid .navbar-nav.-blog > li {
  display: inline-block;

  &> a {
    display: inline-block;
    padding: 1.267em .8em;
  }
}


// Classes
// intended for use with @extend

%listing-row {
  display: block;
  margin-top: -1px;
  position: relative;
   z-index: 50;

   &:before {
     width: 100%;
     height: 100%;
     background-color: $gray5;
     border-top: 1px solid $gray4;
     border-bottom: 1px solid $gray4;
     content: '';
     display: block;
     @include opacity(0);
     position: absolute;
      top: 0;
      left: 0;
     @include transition(all,.2s,ease-in-out);
   }

   @include hover {
     &:before {
       @include opacity(1);
       @include transition(all,.2s,ease-in-out);
     }
   }


  &> a {
    display: block;
    padding-top: 1.2em;
    padding-bottom: 2.2em;
    position: relative;
    @include transition-all;

    h2,h3 {
      padding-top: 0;
      position: relative;
      @extend %-mdtxt;
    }

    p, .contributor { color: $gray3; }

    // &:after {
    //   width: 100%;
    //   height: 100%;
    //   content: '';
    //   border-top: 1px solid $gray4;
    //   border-bottom: 1px solid $gray4;
    //   display: block;
    //   position: absolute;
    //    top: 0;
    //    left: 0;
    // }
  }
}




%listing-row-dark {
  @extend %listing-row;

  &:before {
    display: none;
  }

  &>a:before {
    width: 100%;
    height: 100%;
    background-color: $gray6;
    content: '';
    display: block;
    @include opacity(0);
    position: absolute;
     top: 0;
     left: 0;
    @include transition(all,.2s,ease-in-out);
  }

  &>a:before, &>a:after {
    border-top: 1px solid $gray3;
    border-bottom: 1px solid $gray3;
  }

  &> a {
    @include hover {
      &:before {
        @include opacity(1);
        @include transition(all,.2s,ease-in-out);
      }
    }
  }
}



// paragraph content with an <a> that should
// be preceded by an "offsite" icon
.-offsite-p a:before {
  content: '\f08e';
  display: inline-block;
  font-family: 'Font Awesome 5 Pro';
  margin-right: .25em;
}



%footer-dark {
  background: $gray1;
  border-bottom: 1px solid $gray3;
  color: white;

  a { color: $blue8; }
}


%-grayborderafter {
  width: calc(100% - 30px);
  height: 1px;
  background: $gray4;
  content: '';
  display: block;
  position: absolute;
   bottom: 0;
   left: 15px;
   z-index: 0;
}

.-blue1bg {
  background: $blue1;
  color: white;
  a { color: white; }
}

.-undo-btn {
  background: none;
  padding: 0;
}

%overhang {
  width: 100%;
}

.-bluebtn {
  background: $blue2;
  border: .15em solid $blue2;
  color: white;
  display: inline-block;
  margin-bottom: .5em;
  padding: .5em 1.5em;
  @include border-radius(1.5em);
  @include transition(background,.2s,ease-in-out);

  @include hover {
    background: $blue1;
    text-decoration: none;
    @include transition(background,.2s,ease-in-out);
  }
}

.list-inline-item.inactive > .-bluebtn { background: $blue1; }




.-ghostbtn {
  background: transparent;
  border: .15em solid $blue2;
  color: $blue2;
  display: inline-block;
  margin-bottom: .5em;
  padding: .5em 1.5em;
  @include border-radius(1.5em);
  @include transition-all;

  @include hover {
    background: $blue2;
    color: white;
    text-decoration: none;
    @include transition-all;
  }
}

.btn { @include hover { @include box-shadow-none; outline: none; } }

// light gray - Resource - Blog post
.deck.-light { color: $gray6; }
.deck.-dark  { color: white;  }



.-graytopbrdr {
  position: relative;
  padding-top: .6em;

  &:before {
    width: 100%;
    height: 1px;
    background: $gray4;
    content: '';
    display: block;
    position: absolute;
     top: 0;
     left: 0;
  }
}

.-graybtmbrdr {
  position: relative;
  padding-bottom: .7em;

  &:after {
    width: 100%;
    height: 1px;
    background: $gray4;
    content: '';
    display: block;
    position: absolute;
     left: 0;
     bottom: 0;
  }
}


.-bluebottomborder, .-bluebottombordermobile {
  border-bottom: 1px solid $blue5;
}


.-chevrondown {
  content: '\00a0\00a0\f078';
  font-family: 'Font Awesome 5 Pro';
  display: inline-block;
}

.-chevronup {
  content: '\00a0\00a0\f077';
  font-family: 'Font Awesome 5 Pro';
  display: inline-block;
}

.-chevronright {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 700;
  font-size: 18px;
  content: '\f105';
  display: inline-block;
}

%-chevronright-circle {
  &>a {
    @include hover {
      &:before {
        background: $blue6;
        @include transition(background,.2s,ease-in-out);
      }
    }
  }

  &>a:before {
    width: 1.2em;
    height: 1.2em;
    background: $blue2;
    color: white;
    display: flex;
    float: left;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 700;
    font-size: 18px;
    content: '\f105';
    margin-top: .2em;
    margin-right: .5em;
    padding-top: .1em;
    justify-content: center;
     align-items: center;
    text-indent: .15em;
    @include border-radius(.85em);
    @include transition(background,.2s,ease-in-out);
  }
}


.-bars {
  content: '\f0c9';
  display: inline-block;
  font-family: 'Font Awesome 5 Pro';
}

.header-row {
  h2 { color: $blue6; }
  @extend .-gray5bg;
  @extend .-paddedrow;
}

%header-row-two {
  h2 { color: $blue6; }
  @extend .-gray5bg;
  padding-top: 8em;
  padding-bottom: 8em;
}


%resource-link {
  @extend %-bodytxt;
  @extend %overhang;
  border-top: 1px solid $gray2;
  background: $gray5;
  display: block;
  padding: .5em 1em;
  @include transition-multi(background $trans,color $trans);

  @include hover {
    background: white;
    cursor: pointer;
    @include transition-multi(background $trans,color $trans);
  }
}

%resource-link + %resource-link {
  margin-top: -1px;
  border-bottom: 1px solid $gray2;
}


%resource-link-body {
  width: 100%;
  border-top: 1px solid $gray4;
  border-bottom: 1px solid $gray4;
  display: block;
  margin-top: -1px;
  padding-top: .5em;
  padding-bottom: .5em;
  position: relative;
  @include transition-all;

  @include hover {
    background: $gray5;
    padding-left: 1em;
    margin-left: -1em;
    width: calc(100% + 2em);
    @include transition-all;
  }
}

.prerequisite-col %resource-link-body {
  @include hover {
    background: white;
  }
}


.link-row { @extend %resource-link-body; }



%bodycontentrow {

  &.-blog .container {
    padding-top: 0;
    padding-bottom: 8.8em;
  }

  &.-about .container {
    padding-top: 4em;
    padding-bottom: .5em;
  }

  .container {
    padding-top: 4em;
    padding-bottom: 5em;
  }
}


%bodycontentstyles {

  strong { background: $yellow1; font-weight: 400; }

  ol, ul {
    list-style-type: none;
    margin-top: .5em;
    margin-left: 0;
    padding-left: 0;

    &> li {
      padding-left: 1em;
      position: relative;

      &:before {
      position: absolute;
       top: 0;
       left: 0;
      }
    }
  }

  ol > li {
    counter-increment: customlistcounter;

    &:before {
      content: counter(customlistcounter) ' ';
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  ul > li:before {
    content: '-';
  }


  h1, h2, h3, h4, h5, h6 { margin-top: 0; }

  * + h2 { margin-top: 1.5em; }

  h3, h4, h5, h6 {
      &:not(.resource-link) {
      @extend %-bodytxt;
      font-weight: 800;
      margin-top: 2em;
      margin-bottom: 0;
      }
  }

 
  h4, h5, h6 {
    &:not(.resource-link):before {
      display: inline;
      content: '\2014\00a0';
    }
  }

  .resource-link {
    @extend %resource-link;
    border-bottom: 1px solid $gray2;
    font-weight: bold;
    margin: 0;

    &> a {
      @include hover {
        background: $gray5;
      }
    }

    // body copy .resource-link
    // preceded by another .resource-link
    &+ .resource-link {
      margin-top: -1px;
    }

    // body copy p
    &+ p:not(.resource-link) {
      margin-top: 1em;
    }
  }


  // Previous Styles, 
  // updated below for fixed width table, keeping in case below screws up
  // --------------------------------------------------------------------------
  // table { width: 100%; margin-bottom: 2em; table-layout: fixed; @extend %-bodytxt; }
  // table tr > th, table tr > td   { padding: .5em 1em; vertical-align: top; }
  // table tr:nth-of-type(odd) > td { background: $gray5; }
   // -------------------------------------------------------------------------


  table { margin-bottom: 2em; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; @extend %-bodytxt; }
  table tr > th, table tr > td   { padding: .5em 1em; vertical-align: top; }
  table tr:nth-of-type(odd) > td { background: $gray5; }

  @media (min-width: 768px) { table {width: 750px !important;} }
  @media (min-width: 992px) { table {width: 970px !important;} }
  @media (min-width: 1200px) { table {width: 1170px !important;} }


  blockquote, pre {
    @extend %-bodytxt;
    background: $gray5;
    border: none;
    font-family: monospace;
    padding: 1em 1.5em;
    @include border-radius(0);
  }

  pre { margin-top: .5em; }
}




// Footer

.quote {
  background-image: url('./footer-tile.svg');
  background-position: 50% 50%;
  background-size: cover;
}

#footer {
  background: $gray1;
  color: white;
  padding-top: 3.2em;
  padding-bottom: 2em;

  &> .container:before,
  &> .container:after,
  &> .container > .row:before,
  &> .container > .row:after { display: none; }

  a { color: white;
    @include hover { color: $gray3; }
  }

  .footer-links .logo a {
    @include opacity(1);
    @include transition-all;
    @include hover {
      @include opacity(.4);
      @include transition-all;
    }
  }

  .links a:before {
    @extend .-chevronright;
    margin-right: 1.5em;
  }

  .logo + .links { padding-top: 2em; clear: left; }

  .copyright {
    color: $gray3;
    margin-top: 1.5em;
    a { color: $gray3; @include hover { color: $gray3; text-decoration: underline; } }
  }

  .copyright-txt {
    position: relative;

    p { padding-top: 2em; }

    /*&:before {
      width: calc(100% - 30px);
      height: 1px;
      background: $gray3;
      content: '';
      display: block;
      position: absolute;
       top: 0;
       left: 15px;
     }*/
  }

  .copyright-img-col > .row {
    width: 100%;
    align-items: center;
  }
}

.copyright-img { /*width: 33%;*/ &> img { display: block; margin: 0 auto; } }
.copyright-img a { display: block; @include transition-one(opacity); @include opacity(1); }
.copyright-img a { @include hover {@include opacity(.666); @include transition-one(opacity); } }

.copyright-img.usdoe > img { width: auto; max-height: 3.7em;  }
.copyright-img.nnsa > img  { width: auto; max-height: 3.8em; @include opacity(.55); }
.copyright-img.ecp > img   { width: auto; max-height: 5.35em; }

.main-row .content h3.topic { font-size: 1.5em !important; margin-bottom: .5em !important;
	   }
 
