/* ------------------------
Hero + Announcements + Deck
------------------------ */


.hero-row {

  @extend .-blue1bg;
  @extend .-heropaddedrow;


  &.-home {
    background-image: url('./home-tile.png');
    background-size: cover;
    background-position: 50% 50%;
  }

  .well { color: white; }

  h2 { margin-top: 0; }

  .list-inline {
    margin-top: 2em;

    &> li:first-of-type {
      clear: left;
    }
  }

  .list-inline:before {
    display: inline-block;
    content: 'GET ORIENTED ';
    float: left;
    font-size: 1.5rem;
    font-weight: 800;
    padding-right: 1.4em;
    padding-bottom: .5em;
  }

  .list-inline-item {
    float: left;
    padding-right: .6em;
    padding-bottom: .5em;
    padding-left: 0;
  }

  .list-inline-item a { @extend .-bluebtn; }
}


.-small-light {
  padding-top: 2em;
  padding-bottom: 2em;
}


.deck.-big-dark .list-inline,
.deck.-big-dark .list-inline-item,
.deck.-big-dark .list-inline-item a { @extend %-bodytxt; }
