/* ------------------------
Home
------------------------ */



.close-row .container {
  position: relative;

  .announcements-close {
    display: none;
    position: absolute;
     top: 1.2em;
     right: .8em;
    z-index: 2;
    @extend .-undo-btn;

    @include hover {
      i {
        color: $blue2;
        @include transition-one(color);
      }
    }

    i {
      color: $blue6;
      font-size: 2rem;
      @include transition-one(color);
    }
  }
}

.announcements-row {
  background: $yellow1;
  color: $blue6;
  font-weight: 800;
  position: relative;
   z-index: 1;

  a {
    color: $blue6;

    @include hover {
      color: $blue2;
    }

    &:before {
      width: 2.5em;
      display: none;
      @extend .-chevronright;
    }
  }



  &> .container > .-displayflex-desktop {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  p { margin-bottom: 0; }
}


.main-row.-home { display: none; }


.resources-row .col-md-4 { padding-top: 1.3em; }
.resources-row .col-md-4 h3 { @extend %-chevronright-circle; }


.view-all-row {
  margin-top: 2em;
  padding-bottom: 2em;
  position: relative;

  &:before {
    width: calc(100% - 30px);
    height: 1px;
    background: $gray4;
    content: '';
    display: block;
    position: absolute;
     top: 0;
     left: 15px;
  }
}

h3.view-all-btn {
  margin-top: .6em;
  @extend %-chevronright-circle;
}

.quote .well .quote-text { @extend %-lgtxt; }

.quote .well {
  display: flex;
   align-items: center;
  padding-top: 7em;
  padding-bottom: 7em;
}

.quote .well .quote-author { font-size: 1.5rem; }
