/* ------------------------
Resources
------------------------ */


// Refine megamenu

input[type="checkbox"] { display:none; }

input[type="checkbox"] + span {
  width: 1em;
  height: 1em;
  border: .1em solid $blue7;
  content: '';
  display: block;
  position: absolute;
   top: .3em;
   left: 0;
  @include border-radius(.1em);
  @include transition-one(border);
}

input[type="checkbox"]:checked + span {
  border: .1em solid $blue6;
}

input[type="checkbox"]:checked + span:before {
  width: 2em;
  height: 2em;
  background: url('./checkmark.svg') no-repeat 100% 0;
  content: '';
  display: inline-block;
  position: absolute;
   top: -.4em;
   left: -.8em;
}



.refine-menu { @extend %container; }

.refine-menu label {
  padding-left: 1.4em;
  position: relative;
  @include transition-one(color);

  &.clicked {
    color: $blue6;
    @include transition-one(color);
  }

  @include hover {
    color: $blue6;
    cursor: pointer;

    span {
      border: .1em solid $blue6;
      @include transition-one(border);
    }
  }
}


.refine-form {
  margin-bottom: 0;
  padding: 0;
  position: relative;
  z-index: 300;

  h4 {
    margin-top: 0;
    padding-top: .9em;
    @extend %-mdtxt;
  }

  .nav {
    position: relative;
    z-index: 10;

    &> li.dropdown.refine.open > a {
      background: $blue2;
      color: white;
      @include transition-all;
    }

    &> li.dropdown.refine > a {
      margin-bottom: -1px;
      padding: 1.1em;
      @include hover {
        background: $blue2;
        color: white;
        @include transition-all;
      }
    }

    .refine-menu {
      background: $blue2;
      color: white;

      &> .col-md-4 {
        padding-bottom: 1.3em;
      }
    }
  }

  .filters > p:first-of-type { padding-top: 1.8em;   }
  .filters > p:last-of-type  { padding-bottom: .5em; }

  .btn {
    font-size: 1.8rem;
    float: left;
    clear: left;
    margin-left: 15px;

    &.btn-filter {
      background: white;
      border: .1em solid white;
      color: $blue2;
      padding-right: 1.5em;
      padding-left: 1.5em;
      margin-top: 2.4em;
      @include border-radius(1em);
      @include transition-all;

      @include hover {
        background: $blue2;
        color: white;
        @include transition-all;
      }
    }

    &.btn-reset {
      background-color: transparent;
      margin-top: 1em;
      padding-left: 1.4em;
      position: relative;
      @include transition-all;

      .fa {
        display: block;
        position: absolute;
         top: .55em;
         left: 0;
        @include transform-origin(50%, 48%);
      }

      @include hover {
        color: $blue6;

        .fa {
          color: $blue6;
          @include transition-one(color);
          @include rotate(180deg);

          -webkit-animation-name: spin;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-duration: .2s;

          animation-name: spin;
          animation-timing-function: linear;
          animation-iteration-count: 1;
          animation-duration: .2s;
        }
      }
    }
  }
}



.refine-row {
  .navbar-nav { float: none; }
  &> .container { position: relative; }
}



.viewing-results-row > .container > div {
  color: $gray3;
  padding-bottom: .6em;
  @extend .-graytopbrdr;
}




.resource-row {
  @extend %listing-row;
}



.category-row {
  &> .container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    position: relative;

    &:after { @extend %-grayborderafter; }
  }
}


.load-more, .to-top {
  display: block;
  font-weight: 800;
  padding: 1.1em 0;
}

.load-more { float: left;  }
.to-top    { float: right; }

.load-more:after { @extend .-chevrondown; }
.to-top:after    { @extend .-chevronup; }





.resource-single-header-row {
  @extend .header-row;

  .row + .date-contributors-row {
    padding-top: 1em;
  }
}

.date-contributors-row h4 { line-height: 2.3rem; margin: 0; }




.prerequisite {
  margin-top: 0;
  margin-bottom: 0;

  &> a {
    @extend %resource-link-body;
  }
}



// Resource body copy styling

.resource-single-content-row {
  @extend %bodycontentrow;

  .content {
    @extend %bodycontentstyles;



//    ul > li > a    { @extend %resource-link-body; }
  }
}




// Category

.see-all {
  @extend %-mdtxt;
  @extend %-chevronright-circle;
  margin-top: .6em;

  &> a {
    font-weight: 400;
  }
}



// Author / Contributor

.author-col {
  max-width: 14em;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2em;

  img {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

//.author-row > .container > .row > div:nth-of-type(2n+1) { clear: left; }



// Lightbox

a[data-toggle="lightbox"] {
  width: calc(100% - 2.8em);
  height: 16em;
  background: $gray5;
  display: flex;
  font-weight: 400;
  margin-right: 0;
  margin-left: 0;
  position: relative;

  &> img {
    align-self: center;
    max-width: calc(100% - 2.224em);
    max-height: calc(100% - 2.224em);
    display: block;
    margin: 1.112em auto;
  }

  &:before {
    width: 2.5em;
    height: 2.5em;
    background: $blue2;
    color: white;
    content: '\f065';
    font-family: 'Font Awesome 5 Pro';

    @include flex;
     align-items: center;
     justify-content: center;

    position: absolute;
     top: 0;
     right: -2.5em;

    @include transition-one(background);
  }

  &:after {
    width: 100%;
    height: 100%;
    @include flex;
     align-items: center;
     justify-content: center;
    background: $blue10;
    color: white;
    font-size: 4rem;
    position: absolute;
     top: 0;
     left: 0;
    @include opacity(0);
    @include transition-all;
  }

  @include hover {
    &:before { background: $blue6;  @include transition-one(background); }
    &:after  { @include opacity(1); @include transition-all; }
  }
}


// Topics

.resource-topic-h2 { margin-bottom: 1em; }





// Lightbox

.modal-backdrop {
  background-color: $blue6;
  @include opacity(.75);
}



.modal-dialog {
  width: 100%;
  height: calc(100% - 1.5em);
  margin: 0 auto;
}

.modal-content {
  height: 100%;
  background-color: transparent;
  border: none;
  position: relative;
  top: 1em;
  display: flex;
    flex-direction: column;
    justify-content: center;


  @include simple-box-shadow(0,0,0,rgba(255,255,255,0));

  .modal-header {
    display: block !important;
    position: relative;
     top: 0;
     right: 0;
    background: none;
    border: none;
    padding: 0;

    h4 { display: none; }

    button {
      width: 1.715em;
      height: 1.715em;
      background: $blue2;
      color: white;
      position: relative;
       top: 0;
       right: 0;
      z-index: 400;
      @include opacity(1);
      @include transition-one(background);

      @include hover {
        background: $blue6;
        @include transition-one(background);
      }
    }
  }

  .ekko-lightbox-container {
    max-height: calc(100vh - 5em) !important;
  }

  .modal-body {
    padding: 0;

    .img-fluid {
      max-width: 100%;
      max-height: 100%;
      display: block;
      width: auto !important;
      margin-left: auto;
    }
  }
}

.caption { @extend %-smallcaps; margin-top: .5em; display: block; }

@media (min-width: 48em) {

  table tr th,
  table tr td {  font-size: 1.8rem; }

  table tr { width: 100%; }

  // table tr { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;  width: 100%; }

  // table tr th, table tr td { min-width: 10em;  }

  table.manycols tr th,
  table.manycols tr td {  font-size: 1.6rem; line-height: 1.6; }
  table.manycols tr th, table.manycols tr td { min-width: 9em;  }

}

.events-content-row .content table tr:nth-of-type(odd),
.main-row .content table tr:nth-of-type(odd) { background: #ededed;}

.events-content-row .content table thead tr:nth-of-type(odd):first-of-type,
.main-row .content table thead tr:nth-of-type(odd):first-of-type,
.events-content-row .content table tr:nth-of-type(odd)>td,
.main-row .content table tr:nth-of-type(odd)>td {
  background: none;
}
