/* ------------------------
Search
------------------------ */



//.nav .search .input-group-btn > .btn { top: 0; }
.search-form-row .search .input-group-btn > .btn { top: -.2em; }

.search .input-group-btn {

    &> .btn {
	background: none;
	font-size: 1rem;
	position: relative;
	@include transition(color,.2s,ease-in-out);

	@include hover {
	    color: $blue3;
	    @include transition(color,.2s,ease-in-out);
	}
    }
}

.search input[type="text"] {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    color: $blue4;
    font-weight: 400;
}



.search-form-row > .container {
    @extend %-mdtxt;

    &> .search-page-form {
	background: $blue2;
	margin-top: .6em;
	padding-top: .4em;
	padding-bottom: 0;

	.form-control {
	    margin-top: .15em;
	    padding-bottom: .3em;
	}
    }


    .btn {
	font-size: 1.4rem;
    }
}



.search-results-wrapper { padding-top: 5em; margin-top: 2em;
			}

.search-results-wrapper .resources .resource .topics:before { content: ''; padding-left: 0; padding-right: 0; 
							    }
.search-results-wrapper .topics { padding-top: 1em; 
				}

.search-results-row {
    @extend %listing-row;

    .highlight > strong {
	background: $yellow1;
	font-weight: 400;
    }
}

.-searchresulttype {
    width: 9em;
    display: inline-block;
}
