/* ------------------------
Sharing
------------------------ */


.share-buttons {

  &:before {
    color: $gray3;
    content: 'Share ';
    display: inline;
    @extend .-bold;
    @extend %-smtxt;
  }

  list-style-type: none;
  margin: 0;
  padding: 0;

  &> li {
    display: inline-block;
    text-align: center;

    &> a {
      color: $gray3;
      display: inline-block;
      width: 1.4em;
      @include transition-one(color);
      @include hover {
        color: $blue6;
        @include transition-one(color);
      }
    }
  }

}
