$maxwidth: 1080px;

.wrapper .nav-container-fluid .container,
.wrapper .container-fluid .hero-row .container, 
.wrapper .container-fluid .main-row .container, 
.wrapper .container-fluid .viewing-results-row, 
.community-footer-row .container-fluid
{
	max-width: $maxwidth;
	margin: 0 auto;
	h1 {
		margin: 0rem;
	}
}

.fa, .fas {
	font-weight: 400;
}

.dropdown .dropdown-menu-full {
	z-index: 100;
    width: calc(100vw);
    margin-top: 0 !important;
	left: calc(-1 * ((100vw - (calc(1080px - calc(10px + 5px))))/2));
	padding-left: 7rem;
    padding-right: 70px;
    .container {
    	// max-width: 120rem;
    	max-width: 1080px !important;
    	margin: 0 auto;
    	padding-left: 5rem;
    	.row {
    		div {
    			padding: 0rem;
    			h3 {
    				font-size: 15px;
    				padding-left: 2px;
    				display: inline-block;
    				text-transform: uppercase;
    				font-weight: bold;
    			}
    			h2 {
    				font-size: 3.5rem;
    				margin-bottom: 1rem;
    				line-height: 3.5rem;
    			}
    		}
    		.gap {
    			padding-right: 4rem;
    		}

			.nav-heading {
				.circle {
					border: 4px solid $blue3;
					margin-left: 5px;
				}
				&:hover {
					-webkit-transition: none;
					transition: none;
					.circle {
						border-color: $blue6;
						-webkit-transition: none;
						transition: none;
					}
					i, a {
						color: $blue6;
						-webkit-transition: none;
						transition: none;
					}
				}
			}
			.nav-heading-link h2 a {
				-webkit-transition: none;
				transition: none;
				&:hover {
					-webkit-transition: none;
					transition: none;
					color: $blue6 !important;
				}
			}
			.nav-heading-link {
				-webkit-transition: none;
				transition: none;
				&:hover {
					-webkit-transition: none;
					transition: none;
					color: $blue6 !important;
					h2 {
						-webkit-transition: none;
						transition: none;
						color: $blue6 !important;
					}
				}
				/*&:last-child {
					margin-top: 0rem;
				}*/
    		}
    	}
    }
    .circle  {
    	.fas {
	    	top: 28%;
	    	left: 50%;
	    }
	}
	.caret-list {
		min-height: 330px;
		li {
			text-indent: 0px !important;
			padding-left: 0px !important;
			margin-left: -45px;
			&:before {
				padding-right: 5px;
			}
			a {
				margin-left: 20px;
				margin-top: -32px;
				display: block;
				&:before {
					&:hover {
						color: $blue6;
					}
				}
			}
		}
		.active a {
			background: transparent !important;
		}
	}
}


@media (min-width: 1100px) and (max-width: 1300px) {
	.container {
	    padding-left: 3.5rem;
	}
}

@media (max-width: 1099px) {
	.container {
	    padding-left: 0px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
    left: calc(-1 * ((100vw - 970px)/2));
}

@media (min-width: 768px) and (max-width: 991px) {
    left: calc(-1 * ((100vw - 750px)/2));
}

.main_dropdown .open {
	.scrollup {
		display: none !important;
	}
}

.hover {
	&:hover {
		transition: none;
		-webkit-transition: none;
		a, .circle i {
			color: $blue6;
			border-color: #0056b3;
			border-color: $blue6;
			transition: none;
			-webkit-transition: none;
		}
		.circle i {
			color: white;
			background-color: $blue6;
		}
	}
}
.nav-item {
	position: inherit !important;
}

.row {
	margin: 0rem;
}

.dd-columns {
	width: 20%;
}

#main_dropdown .open .dropdown-menu-full {
	//padding-bottom: 90px;
	padding-top: 1.2rem;
}

// .navbar-nav .open.search .dropdown-menu {
// 	margin-top: -2rem;
// 	input[type="text"] {
// 		margin-top: 10px;
// 	}
// }

// body:not(.scrollup) .search.open > .dropdown-menu .navbar-form {
// 	padding-top: 7px;
// 	padding-bottom: 1.4rem;
// }

// .navbar-nav .open.search .dropdown-menu li {
// 	background-color: $blue2;
// }

// .dropdown .search .dropdown-menu {
// 	margin-top: -2rem;
// }

// .fa-search {
// 	font-weight: 600 !important;
// }

// .search-results-wrapper {
// 	padding-top: 0rem;
// }

// .search-results-row {
// 	z-index: 3;
// 	margin: 0rem 10rem;
// 	// padding: 0rem 14rem 0rem 7rem;
// }

.blog-link-row:before, {
	border-top: 0px !important;
	border-bottom: 0px !important;
	-webkit-transition: none !important;
	transition: none !important;
}

body:not(.scrollup) .nav-container-fluid > .row > .container > .navbar > .navbar-collapse > .navbar-right > li > a {
	padding-bottom: 4rem;
	padding-top: 4rem;
	margin-top: -2rem;
	&:hover {
		border: 0px;
		padding-bottom: 3.9rem;
	}
}

// body:not(.scrollup) .nav .search .input-group-btn > .btn {
// 	top: 0rem;
// 	right: 0rem;
// }

.dropdown-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.dropdown-menu-full .caret-list li a:hover, .dropdown-menu-full .caret-list li:hover:before {
	color: $blue6 !important;
	transition: none;
	-webkit-transition: none;
}
/*
.col-sm-12, .col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-xl-6, .col-lg-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-xl-4, .col-lg-4 {
	-ms-flex: 0 0 33%;
	flex: 0 0 33%;
	max-width: 33%;
}

.col-sm-1, .col-md-1, .col-lg-1 {
	padding: 0rem;
}
*/
.hero-row {
	padding: 80px 0;
}
.featured {	
	max-width: $maxwidth;
	margin: 0rem auto;
}

.hero-row {
	h1 {
		font-size: 4.5rem;
		line-height: 4.5rem;
		padding-bottom: 2rem;
		margin-top: 80px;
	}
	p {
		font-size: 2.6rem;
		line-height: 3.4rem;
	}
	min-height: inherit;
}

.-big-light {
	p, a {
		font-size: 1.8rem !important;
		line-height: 3rem !important;
		// padding-right: 20rem;
	}
	a {
		font-weight: bold;
		&:hover {
			// color: #0056b3;
			color: $blue6;
		}
	}
	i {
		font-size: 2rem !important;
		line-height: 3rem;
	}
}

.learn-more a {
	&:before {
		font-family: 'Font Awesome 5 Pro';
		font-weight: 700;
		font-size: 18px;
		content: '\f105';
	}
}

.-communities-overview.content ul > li  {
	a {
		font-size: 2rem;
		&:before {
			font-weight: 700;
			font-family: 'Font Awesome 5 Pro';
		}
	}
}

.circle .fa {
	margin-top: 7px;
	font-size: 6rem;
}
.circle {
	background-color: transparent;
	border: 0px;
}

.circle-border {
	border: 3px solid $blue2;
	i {
		margin-top: 0px;
		margin-left: -6px;
	}
}

.bssw-blog {
	h1 {
		margin: 0rem;
		padding: 0rem;
	}
	h3 {
		font-size: 3rem;
		margin-top: 2rem;
	}
}

.viewing-results-row, .community-header-row, .community-content-row, .community-footer-row {
	padding: 1rem 0rem;
	margin-left: 4rem;
	margin-bottom: -8rem;
	margin-top: -5rem;
	.container {
		width: calc(70%);
	}
}

.community-header-row, .community-content-row, .community-footer-row {
	margin: 0rem auto;
}

.community-footer-row .container-fluid:last-of-type {
	border-bottom: 0px !important;
}

.community-header-row {
	margin-top: 2rem;
	padding: 0rem;
	padding-right: 25rem;
	padding-bottom: 100px;
}

.community-content-row {
	max-width: $maxwidth;
	margin: 0rem auto;
	padding: 100px 0rem;
	padding-right: 25rem;
}

.community-content-row .container {
	padding: 0rem;
	h2 {
		margin-top: 4rem;
		font-size: 4.5rem;
	}
}

.contribute-to-the-better-scientific-software-site .container,
.-contributions .container,
.bssw-blog .container,
.-blog .container,
.contact-bssw .container,
.upcoming-events .container,
.past-events .container,
.-policies .container,
.policies .container,
.receive-our-email-digest .container,
.bssw-fellowship-program .container,
.-fellows .container,
.contributors .container,
.-contributors .container,
.about .container,
.-about .container {
	h1 {
		padding-right: 10rem;
	}
	h2 {
		margin: 2rem 0rem 1rem 0rem;
		line-height: 5.4rem;
		font-size: 4.5rem;
	}
	#mc-embedded-subscribe-form {
		margin-right: 25rem;
	}
}

.-contributors .content {
	margin-bottom: 60px;
}




.main-row .container h2, .main-row .container #mc_embed_signup > form > #mc_embed_signup_scroll h2, .simple_form, #mc_embed_signup > form > #mc_embed_signup_scroll {
	padding-top: 0rem;
	margin-top: 0rem !important;
}

.caret {
	border: none;
	width: 100%;
	padding: 2rem 0rem;
	&:before {
		font-weight: 700;
	}
}

.tighten {
	max-width: $maxwidth;
	margin: 0rem calc((97.8vw - 1080px)/2);
	margin-right: calc(-1*(99.5vw - 1080px));
	// padding-left: 4rem;
	.social-share {
		margin-top: 0rem;
		padding-top: 5px;
	}
	@media (min-width: 1499px) {
		max-width: calc(1080px - 10%);
		margin: 0rem calc((98.4vw - 1080px)/2);
		margin-right: 0rem;
	}
}

.whitebg {
	background-color: white !important;
}

.sm-logo-div {
	background-image: url('./bss-logo.png');
	background-position-x: left;
	height: 2.8em;
}
@media (max-width: 550px) {
	.sm-logo-div {
		background-image: url('./bss-logo-sm-2.svg');
		background-position-x: left;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.tighten {
		margin: 0 3rem;
	}
}
@media (min-width: 1200px) and (max-width: 2075px) {
	.tighten {
		margin-right: 0rem;
		// padding-left: 4rem;
	}
}

.form-row {
	max-width: $maxwidth;
	margin: 0 auto;
	padding: 100px 0rem;
}

.simple_form {
	padding: 0rem;
	padding-right: 5rem;
	margin: 0rem;
}

.caret-list {
	padding-left: 10px;
	li {
		text-indent: -17px;
		padding-left: 25px;
		&:before {
			margin-left: 1px;
		}
	}
}

@media (max-width: 1199px ) {
	.card-header .btn {
		width: 100px;
		margin-left: 27px;
		margin-top: -30px;
	}

	.card-header .btn:before {
		font-weight: bold;
		left: -20px;
		top: 20px;
		position: relative;
		display: inline;
	}
}

.card-header .btn:hover {
	-webkit-transition: none;
	transition: none;
	&:before {
		color: $blue6;
	}
}

.bg-white a {
	vertical-align: top;
}

.contributions {
	padding: 0rem;
	max-width: $maxwidth;
	margin: 0 auto;
	margin-bottom: 100px;
	.input {
		margin-right: 30px;
		width: 95%;
	}
}

#new_contact_form {
	.input {
		width: 95%;
		margin-right: 30px;
	}
}

.main-container-fluid .-blog.main-row .container {
	padding-bottom: 0rem;
}

.-about, .author-row, .main-row {
	max-width: $maxwidth;
	margin: 0 auto;
	// padding: 0rem 3rem 0rem 7rem;
	.container {
		padding-top: 100px;
		padding-bottom: 100px;
		h2 {
			margin-top: 3rem;
		}
	}
}

.author-row .container  {
	max-width: $maxwidth;
	.row > div {
		float: left;
		//height: 530px;
	}
}

.-fellows {
	h2 {
		margin-top: 0rem;
	}
}

.-about.main-row .container {
	padding: 100px  0rem;
	padding-right: 25rem;
	h2 {
		margin-top: 3rem !important;
	}
}
/*
.author-col  {
	width: 33%;
	p {
		padding-right: 2.5rem;
	}

	img {
		width: 90%;
	}
}

.author-row > .container > .row > div:nth-of-type(3n+1) {
	float: left; 
}
.author-row > .container > .row > div:nth-of-type(4n+1) {
	clear: none; 
}

@media (min-width: 1125px) {
	.author-col {
		width: 25%;
	}
	.author-row > .container > .row > div:nth-of-type(3n+1) {
		clear: none; 
	}
	.author-row > .container > .row > div:nth-of-type(4n+1) {
		float: left; 
	}
}
*/
.author-row .container {
	margin-top: -200px;
}

.card h2 {
	margin: 0rem;
	padding: 0rem;
	padding-top: 0.1rem;
}

.tools {
	padding-top: 0rem;
	max-width: $maxwidth;
	margin: 0rem auto;
	.circle {
		i {
			background-color: $blue2;
			border-radius: 30px;
			border-color: $blue2;
			color: white;
			font-weight: 400;
			width: 60px;
			height: 60px;
			font-size: 50px;
			padding-left: 2px;
			margin-top: 3px;
			padding-top: 4px;
		}
	}
}

.tool-container {
	max-width: $maxwidth;
}
.tools-row {
	max-width: $maxwidth;
	text-align: right;
	h2 {
		text-align: left;
	}
	div:nth-child(2) {
		padding: 0rem;
	}
}
.tool-row {
	.caret-list {
		padding-left: 75px;
		li {
			text-indent: -16px;
			padding-left: 26px;
		}
		li:before {
			font-size: 18px;
			font-weight: 600;
			padding-right: 15px !important;
		}
	}
	// div:nth-child(1) {
	// 	margin-right: 6rem;
	// }
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}


.main-container-fluid .navbar {
	z-index: 0;
}

.nav-container-fluid {
	z-index: 3;
}

.tool-row, .panel {
	max-width: $maxwidth;
	.caret-list li {
		&:before {
			font-family: 'Font Awesome 5 Pro';
			font-weight: 700;
			font-size: 18px;
			content: '\f105';
			padding-right: 1px;
			transition: none;
			-webkit-transition: none;
		}
		&:hover {
			&:before {
				transition: none;
				-webkit-transition: none;
				color: $blue6;
			}
		}
	}
	a {
		color: $blue2;
	}
	h3 {
		font-weight: bold;
		margin-top: 0.5rem;
	}
	h2 a {
		margin-left: -3px;
	}
}

.tool-row p {
	padding-left: 2rem;
	padding-right: 6rem;
}

footer {
	z-index: 10;
}
#footer, .footer {
	z-index: 10;
	padding-top: 4rem;
	.caret-list {
		margin-top: 0rem;
		min-height: auto;
	}
}

.copyright {
	border-top: 0px;
}

.copyright-txt {
	border-top: 1px solid $gray3;
	padding-top: 0rem;
	margin-right: 1rem;
	font-weight: normal;
}

.page-heading {
	background-color: #f9f8f6;
	padding: 0rem;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	.row {
		max-width: $maxwidth;
		margin: 0 auto;
		.image-wrapper {
			width: 103%;
		}
	}
	.topic {
		text-align: left;
	}
}

// @media (min-width: 992px) and (max-width: 1199px) {
// 	.page-heading {
// 		width: 110%;
// 	}
// }
.page-content {
	padding: 0rem;
	width: 90%;
	max-width: $maxwidth;
	margin: 0rem calc((99.5vw - 1080px)/2);
	vertical-align: top;
	h4 {
		font-size: 1.8rem;
		margin: 2rem 0rem 0rem 0rem;
		&:before {
			font-family: 'Font Awesome 5 Pro';
			content: '\f068';
			font-weight: 700;
			font-size: 10px;
			margin-right: 7px;
		}
	}
	.container {
		max-width: $maxwidth;
	}
	.container .row div {
		padding: 100px 0rem;
	}
	.container .row .resource_no_top {
		padding: 80px 0rem;
		ul {
			border: 0px;
			li {
				border: 0px;
			}
		}

		h2, h3 {
			font-size: 2rem;
			font-weight: bold;
			line-height: 2.6rem;
			margin: 2rem 0rem 1rem 0rem;
		}

		h2 {
			font-size: 3.6rem;
			font-weight: normal;
			line-height: 3.6rem;
			margin: 4rem 0rem 1rem 0rem;
		}

		/*@media (max-width: 1199px) {
			p {
				padding-left: 7rem;
			}
		}*/

	}
}

@media (min-width: 760px) and (max-width: 991px) {
	.page-content, .all_resources {
		margin: 0;
		width: 75%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.page-content, .all_resources {
		margin: 0px 1rem;
		width: 95%;
	}
}
@media (min-width: 1399px) {
	.page-content, .all_resources {
		width: 80%;
	}
}

.topics .row {
	display: -ms-grid;
	display: grid;
	grid-template-columns: 60px auto 1fr;
	grid-gap: 0px 20px;
	.topics-heading {
		grid-column: 1;
		padding-right: 0rem;
	}
	.topic {
		grid-column: 2;
		padding-left: 0rem;
		margin-right: 20px;
		line-height: 30px !important;
	}
	.sub-topic {
		grid-column: 3;
		margin-left: 0rem;
	}
}

.topics-wrapper {
	margin-top: 25px !important;
	padding-bottom: 25px;

}

.post-meta {
	font-size: 1.5rem !important;
	letter-spacing: 2px;
}

.short_lived {
	display: none;
	font-size: 1.5rem;
	margin-left: 2rem;
	margin-right: -3rem;
	text-transform: uppercase;
	font-family: 'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
}

.breadcrumbs {
	ul {
		margin-bottom: 0rem;
		line-height: 20px;
		li {
			height: 20px;
			line-height: 20px;
			&:after {
				font-weight: 900;
			}
		}
	}
	li {
		font-size: 1.5rem;
	}
}

.-offsite-p a:before {
	content: '\f35d';
	font-weight: 900;
}

.socials {
	display: inline;
	margin-right: -13px;
	a {
		&:hover {
			color: $blue6;
		}
	}
}

.permalink {
	i {
		&:hover {
			color: $blue6;
		}
	}

	.fas {
		color: $gray2;
	}
}

.container-fluid, .container, .col-md-9, .col-lg-9, .col-sm-12 {
	padding: 0rem;
}
.container-fluid .container {
	margin: 0rem;
}
.main .container {
	width: 100%;
}

#mini_dropdown {
	a[href*='pages/receive-our-email-digest']:before { 
		display: none;
	}
}

.accordion {
	border-top: 2px solid #ebebeb;
}

.all {
	background-color: white;
	h1 {
		margin: 0rem;
	}
}
.sub-topic {
	margin-left: -15px;
	padding-left: 0px;
	li {
		background:url('arrow-down-right.png') no-repeat 3px 4px;
		list-style-type: none;
		padding-left: 20px;
		line-height: 2rem;
		margin-top: 0.3rem;
		margin-bottom: 0.7rem;
	}
}

.pagination {
	margin: 0rem;
	font-size: 1.4rem;
	line-height: 1.4rem;
	letter-spacing: 1px;
	a {
		padding-left: 0rem;
	}
}

.pagination-top {
	padding-bottom: 0rem;
	padding-top: 0rem;
	position: relative;
	top: -10px;
}

.viewing-results-row {
	padding: 0rem ;
	/*.container {
		max-width: 85%;
		margin-right: 25%;
		h2 {
			margin-top: 100px;
			margin-bottom: 20px;
			line-height: 4.5rem;
			width: 70%;
		}
	}

	p {
		max-width: $maxwidth;
		margin-right: 27rem;
		margin-bottom: 0rem;
	}*/

}

#events .container, .past-upcoming-row  {
	max-width: $maxwidth;
	margin: 0rem auto;
}

.more-top {
	max-width: $maxwidth;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 100px;
	#more  a {
		font-weight: bold;
		transition: none;
		-webkit-transition: none;
		&:after {
			content: ' \f107';
			color: $blue2;
			padding-top: 5px;
			font-family: 'Font Awesome 5 Pro';
			font-size: 22px;
			position: relative;
			margin-left: 8px;
			top: 3px;
		}

		&:hover {
			transition: none;
			-webkit-transition: none;
			&:after {
				transition: none;
				-webkit-transition: none;
				color: $blue6;
			}
		}
	}
}

.page-heading h1 {
	margin: 2rem 0rem;
	padding: 0rem;
	margin-top: 100px;
	margin-right: 7rem;
	margin-left: -3px;
}

.pagination-bottom {
	display: block;
	clear: both;
	padding-top: 2rem;
	// margin-right: 30%;
}
/*
#resources {
	padding: 0rem;
	margin-top: 80px;
	max-width: $maxwidth;
	min-height: 680px;
}
*/
.collapsing {
    transition: none;
}

.resources, .community-footer-row {
	display: block;
	.resource {
		padding-bottom: 20px;
		margin-right: 30%;
		h2 {
			margin: 20px 0rem 20px 0rem;
			line-height: 2rem;
		}
		.topics {
			line-height: 2rem;
			font-size: 1.5rem;
			width: 90%;
		}
		.recommended {
			float: right;
			top: 0rem;
			margin-top: 0.65rem;
			font-size: 1.5rem;
			font-family: 'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			color: $gray3;
			letter-spacing: 1px;
		}

	}
}
.community-footer-row {
	margin: 0rem;
	padding: 7rem 0rem;
	.container-fluid {
		// padding-right: 8rem;
		width: 90%;
		.resource {
			margin-right: 10rem;
			h2 {
				// width: 130%;
				font-size: 2.5rem;
			}
		}
		.listing {
			width: 100%;
			&:hover {
				background-color: $gray6 !important;
				color: $gray3 !important;
			}
		}
	}
}
.community-footer-row {
	.resource {
		width: 100%;
		padding-bottom: 0px;
		&:first-of-type {
			border-top: 1px solid $gray3;
		}
		&:last-of-type {
			border-bottom: 1px solid $gray3;
		}
	}
	.container-fluid {
		width: 100%;
		max-width: 100%;
		padding-right: 0rem;
		.resource {
			max-width: $maxwidth;
			margin: 0rem auto;
			&:hover {
				max-width: 1120px;
				//padding: 0rem 20px;
				border: 1px solid $gray3;
				border-right: 0px;
				border-left: 0px;
				background-color: $gray6;
			}
		}
	}
	.more-on {
		max-width: $maxwidth;
		margin: 0 auto;
	}
}


.resources  {
	// max-width: 880px;
	.resource {
		margin-right: 0rem;
	}
}

.all_resources {
    padding: 0rem;
    width: 80%;
    max-width: 1080px;
    margin: 0rem calc((99.5vw - 1080px)/2);
    margin-top: 70px;
    margin-bottom: 0px;
    line-height: 4rem;
}

.social-share {
	margin-top: 10px;
}

.community-footer-row .resource {
	border-top: 1px solid transparent;
	border-bottom: 1px solid $gray3;
	clear: both;
	h2 {
		line-height: 3rem;
		margin-top: 3rem;
	}
	.topics {
		font-size: 1.5rem;
		line-height: 2rem;
		padding-bottom: 3rem;
	}
	.recommended {
		display: none;
	}
}

.disqus #disqus_thread {
	margin: 0rem auto !important;
	max-width: $maxwidth;
}

// .blog-post-footer-row .blog-link-row {
// 	border-top: 1px solid $gray2;
// 	margin-top: 0rem;
// }

.event-row a, .blog-link-row a {
	border: 1px solid transparent;
	border-bottom: 1px solid $gray2;
	width: $maxwidth;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 1rem 0rem 2rem 0rem;
}
.event-row {
	z-index: 0;
	width: 100%;
}

.event-row:first-of-type {
	a:nth-child(1) {
		border-top: 1px solid $gray2;
	}
}
.no-border {
	border-bottom: 1px solid transparent !important;
}
.no-top {
	border-top: 1px solid transparent !important;
}
.no-bots {
	border-bottom: 1px solid transparent !important;
}

.no-top-before {
	&::before {
		border-top: 1px solid transparent !important;
	}
}
.no-bots-before {
	&::before {
		border-bottom: 1px solid transparent !important;
	}
}

.blog-post-footer-row .blog-link-row > a:before, .community-footer-row .resource-row > a:before {
	width: 100%;
	left: 0;
}

.blog-post-footer-row .blog-link-row:hover:before, .resource-row:hover:before, .event-row:hover:before{
	width: 100%;
	overflow-x: hidden;
	border: 1px solid $gray2;
	border-right: 0px;
	border-left: 0px;
}

// .main-container-fluid .blog-link-row:first-of-type > a {
// 	padding: 1rem 0rem !important;
// 	padding-bottom: 2rem !important;
// 	margin: 0rem 2rem !important;
// }

ul.-blog {
	float: none;
	margin: 0 auto;
	margin-bottom: 2rem !important;
	max-width: 1120px;
	@media (max-width: 1199px) {
		max-width: calc(1080px - 20%);
	}
}

.to-top {
	padding: 0rem;
	transition: none;
	-webkit-transition: none;
	&:after {
		content: ' \f106';
	    color: #349dff;
	    font-family: 'Font Awesome 5 Pro';
	    font-size: 22px;
	    position: relative;
	    margin-left: 8px;
	    top: 3px;
	}
	&:hover {
		transition: none;
		-webkit-transition: none;
	    color: $blue6;
		&:after {
		    color: $blue6;
		}
	}
}

.events-content-row {
	max-width: $maxwidth;
	margin: 0rem calc((100vw - 1080px)/2);
	padding: 100px 0rem;
	padding-right: 20rem;
	.container {
		padding: 0rem;
	}
}

.event-website {
	a, h4 {
		transition: none;
		-webkit-transition: none;
	}
	&:hover {
		a, h4 {
			color: $blue6 !important;
		}
		&:before {
			transition: none;
			-webkit-transition: none;
			color: $blue6 !important;
		}
	}
	a:before {
		content: '';
	}
}

// .search-form-row {
// 	position: relative;
// 	z-index: 0;
// }

.past-upcoming-row {
	padding-top: 60px;
	max-width: $maxwidth;
	margin: 0rem calc((100vw - 1040px)/2);
	.container {
		max-width: $maxwidth;
		// padding-right: 30rem;
	}
	a {
		padding: 3rem;
	}
	a:hover {
		background-color: #eeeeee;
	}
}

body:not(.scrollup) .nav-container-fluid > .row > .container > .navbar > .navbar-collapse > .navbar-right > li > a {
	padding-bottom: 3.9rem;
}
.all {
	// margin-top: 5rem;
	h1 {
		margin-bottom: -5rem;
	}
}

.fas {
	color: #349dff;
	margin: 1rem;
}

.wrapper {
	min-height: auto;
	margin: 0rem;
	&:after {
		height: auto;
	}
}

.featured-container {
	height: 200px;
	max-width: $maxwidth;
	.padding-right {
		padding-right: 0rem;
		margin-left: -0.75rem;
	}
	div:nth-child(2) {
		padding-right: 2rem;
	}
	a, p {
		font-size: 1.8rem;
	} 
	h3 {
		font-size: 2rem;
		text-align: left;
		font-weight: bold;
		line-height: 2rem;
		margin-bottom: 1rem;
	}
	h5 {
		text-transform: uppercase;
		font-family: 'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
		color: $gray3;
		text-align: left;
		font-size: 1.5rem;
		letter-spacing: 1px;
	}
}

.featured-slider-controls .fa-angle-left, .featured-slider-controls .fa-angle-right {
	font-weight: 700 !important;
	top: -5px;
	font-size: 18px !important;
}

.see-all > a:before, .learn-more > a:before, .resources-row .col-md-4 h3 > a:before, h3.view-all-btn > a:before, .-home .well h3 > a:before, .-communities-overview.content ul > li > a:before {
	font-weight: 700;
}

.padding-right {
	padding-right: 2rem;
}

.date-contributors-row, .blog-post-content-row .container, .events-header-row {
	padding-top: 60px;
	padding-right: 20rem;
	h1 {
		margin-top: 4rem;
		margin-bottom: 0rem;
	}
	h3 {
		font-size: 1.8rem;
		font-weight: bold;
		line-height: 1rem;
		margin-top: 6rem;
	}
	h4 {
		font-size: 1.8rem;
		margin: 2rem 0rem 0rem 0rem;
		font-weight: bold;
		&:before {
			font-family: 'Font Awesome 5 Pro';
			content: '\f068';
			font-weight: 700;
			font-size: 10px;
			margin-right: 7px;
		}
	}
	li {
		margin-left: -2.1rem;
	}
}

.blog-post-header-row, .events-header-row .title-row {
	padding-top: 0rem;
	padding-bottom: 0rem;
	// padding-right: 20rem;
	.social-share {
		text-align: left;
		margin: 2rem 0rem;
		&:before {
			content: 'Share ';
			font-family: 'Roboto Mono', 'Roboto', Helvetica, Arial;
			font-weight: 600;
			font-size: 15px;
			text-transform: uppercase;
			color: $gray3;
		}
		.short_lived {
			margin-right: 56rem;
			margin-top: 2px;
			float: right;
		}
	}
	.post-meta {
		font-size: 1.4rem !important;
		line-height: 1.8rem;
	}
	.post-author {
		text-align: left;
		margin-left: 0rem;
		padding-right: 1rem;
	}
	strong {
		margin: 0;
		padding: 0;
		padding-right: 20px;
	}
	.topics-wrapper {
		margin-top: 8px !important;
	}
	/*.topics-heading {
		font-size: 1.4rem;
		margin-top: 9px;
	}*/
	.topic {
		margin-top: 15px;
		li {
			line-height: 1.8rem;
			padding-bottom: 1rem;
			a {
				font-size: 1.4rem ;
			}
		}
	}
	.sub-topic {
		margin-top: 9px;
		a {
			font-size: 1.4rem;
		}
		margin-top: 4px;
		margin-left: 1rem;
		// padding-left: 20px;
		// margin-bottom: 40px;
	}
}

.events-header-row .-smallcaps {
	font-size: 15px;
}
.events-header-row {
	h3 {
		font-weight: normal;
	}
}
.events-header-row .details-row {
	padding-bottom: 0px;
	strong {
		padding: 0;
		margin: 0;
		padding-right: 20px;
	}
}

.events-header-row {
	li {
		margin-left: 0;
	}
}

.events-header-row .title-row {
	.social-share {
		margin-top: 0rem;
	}
	h4 {
		&:before {
			content: '\f08e';
			font-weight: 600;
			color: $blue2;
			font-size: 15px;
		}
		margin-bottom: 3rem;
	}
}

@media (max-width: 991px) {
	.blog-post-header-row {
		padding: 0rem 11rem;
		li {
			margin-left: 0rem;
		}
	}
	/*.breadcrumbs {
		margin: 20px 11rem;
	}*/
	.blog-post-content-row {
		padding-left: 6rem;
	}
}

.blog-post-content-row .container {
	padding-top: 105px;
}

.blog-post-content-row {
	margin: 0rem auto;
	max-width: $maxwidth;
}

.col-md-8, .col-md-4, .col-md-6 {
	padding: 0rem;
}
.deck.-event {
	margin: 0rem;
	margin-top: 2rem;
	padding: 0rem;
}

.events-content-row .content {
	h2 {
		margin-top: 5rem;
	}
}

.date-contributors-row {
	padding: 2rem 0rem 4rem 0rem;
}

.main-container-fluid .navbar-nav.-blog > li {
	margin: 0rem;
	padding: 0rem;
}

.events-header-row .-smallcaps {
	font-size: 1.6rem;
}

.disqus {
	padding: 0rem; 
	// padding-right: 20rem;
	#disqus_thread {
		margin-bottom: 10rem !important;
	}
	.more-on, h1 {
		max-width: $maxwidth;
		margin: 0 auto;
	}
	.more-on {
		margin-top: 3rem;
	}

	.more-list {
		width: 100%;
		max-width: 100%;
		padding-bottom: 15rem;
		.blog-link-row {
			max-width: $maxwidth;
			margin: 0rem auto;
			border-top: 1px solid transparent;
			border-bottom: 1px solid $gray3;
			clear: both;
			h2 {
				margin: 0rem;
				padding: 2rem 0rem;
				padding-bottom: 0rem;
				font-size: 2.5rem;
			}
			a {
				border: 0px;
				width: 100%;
			}
			&:first-of-type {
				border-top: 1px solid $gray3;
			}
			&:last-of-type {
				border-bottom: 1px solid $gray3;
			}
		}
	}
}

.blog-post-footer-row .blog-link-row > a:before, .blog-post-footer-row .blog-link-row > a:after {
	border: 0px;
}

.dropdown-toggle {
	i {
		font-size: 18px;
		font-weight: 700!important;
	}
}

.nav-communities {
	left: 0 !important;
	width: 392px !important;
	padding-left: 0.5em !important;

	.container {
		width: 100%;
	}

	ul {
		padding-left: 1.5rem;
		width: 392px !important;
		// text-indent: -20px;
	}

	li {
		list-style: none;
		position: relative;
		margin-bottom: 1rem;
		margin-left: -25px;
		line-height: 2.5rem;
		i {
			color: white;
			font-weight: bold;
		}
		&:hover {
			color: $gray1 !important;
			a {
				transition: none;
				-webkit-transition: none;
			}
		}
		&:before {
			font-family: 'Font Awesome 5 Pro';
			font-weight: 700;
			font-size: 18px;
			content: '\f105';
			position: absolute;
			left: -30px;
			top: 1px;
		}
	}
}

@media (max-width: 1299px) and (min-width: 1100px) {
	.nav-communities ul {
		padding-left: 3rem;
	}
}

@media (max-width: 1099px) {
	.nav-communities ul {
		padding-left: 6.5rem;
	}
}

.blog-post-footer-row a {
    margin: 0rem;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    border-bottom: 0;
    border-top: 0;
}


.circle .fas {
	font-weight: 400;
	margin-left: -17%;
}
.circle {
	color: $blue2;
	margin-right: 29px;
}
.circle-icon-cta:hover {
	transition: none;
	-webkit-transition: none;
	&:before {
		border-color: $blue6;
	}
}

a.circle-icon-cta {
	line-height: 33px;
	&:before {
		padding-top: 10px;
	}
}

.circle-icon-cta:before {
	content: '\f105';
	font-family: 'Font Awesome 5 Pro';
	display: inline-block;
	font-weight: 400;
	margin-left: 0px;
	border: 4px solid $blue2; 
	border-radius: 30px;
	width: 60px;
	height: 60px;
	margin-bottom: 100px;
	padding-top: 0px;
	padding-left: 18px;
	margin-top: -15px;
	margin-right: 29px;
	float: left;
	font-size: 50px;
}
#show_more_link:hover {
	transition: none;
	-webkit-transition: none;
	&:before {
		// border: 5px solid #0056b3;
		border: 5px solid $blue6;
	}
}

.post-meta {
	letter-spacing: 1px;
}

.page-content .container .row .resource_no_top h2, .page-content .container .row .resource_no_top #mc_embed_signup > form > #mc_embed_signup_scroll h2, #mc_embed_signup > form > #mc_embed_signup_scroll .page-content .container .row .resource_no_top h2
{
	font-size: 4.5rem;
	line-height: 5.4rem;
}

body.scrollup .nav-container-fluid {

  @include keyframes(navdown) {
      0% { top: -2.45em; }
      100% { top: 0; }
  }

  @include keyframes(navup) {
      0% { top: 0rem; }
      100% { top: -2.45em; }
  }

      -webkit-animation-name: navdown;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-duration: .25s;

      animation-name: navdown;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-duration: .25s;	
}

@media (min-width: 1100px) and (max-width: 1299px) {
	#mini_dropdown {
		.container {
			padding-left: 4rem !important;
		}
	}
}

@media (min-width: 768px) and (max-width: 1099px) {
	#mini_dropdown {
		.container {
			padding-left: 0.3rem !important;
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	// .main .container {
	// 	width: 90%;
	// 	margin-left: 1rem;
	// }
	.page-content {
		// width: 90%;
		margin: 0rem;
		.container .row .resource_no_top p {
			padding-left: 2rem;
			padding-right: 8rem;
		}
	}
	.listing a {
		margin-left: 0rem !important;
		margin-left:1rem;
	}
	.pagination {
		margin: 1rem;
	}
	.tighten {
		margin: 0 1rem;
	}
	.viewing-results-row {
		p {
			margin-right: 2rem;
		}
		.container {
			padding-right: 10rem;
		}
	}
	// .container-fluid .container {
	// 	margin-left: 1rem;
	// }
}


@media (min-width: 768px) and (max-width: 991px) {
    left: calc(-1 * ((100vw - 750px)/2));
	.sub-topic li {
		margin-bottom: 2.3rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.sub-topic li {
		margin-bottom: 2.3rem !important;
	}
}

.error {
	width: 100%;
	margin: 0 auto;
	padding: 12rem 0;
	background-color: #f9f8f6;
	max-width: $maxwidth;
	h1 {
	    font-size: 4.5rem;
	    line-height: 5.4rem;
	    margin-top: 0rem;
	    margin-bottom: 0rem;
	    padding-top: 0rem;
	    padding-bottom: 0rem;
	}
	img {
		float: left;
		margin-top: 2.25rem;
		margin-right: 2.25rem;
		margin-bottom: 4rem;
	}
	p {
		margin: 6rem 0rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-family: 'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
		font-size: 15px;
		color: $gray3;
	}
}

@import '_james.scss';
@import "_MAT.scss";
