/* ------------------------
Wells
------------------------ */



.well {
  background: none;
  border: none;
  color: $gray3;
  margin-bottom: 0;
  padding: 0;
  @include box-shadow-none;
  @include border-radius(0);
}

.-home .well h3 {
  margin: 0 0 .2em;
  @extend %-chevronright-circle;
}
