/* ===============
   NAVIGATION/HEADER
   =============== */

.navbar {
	padding-top:0;
	padding-bottom:0;
	position:relative;
    z-index:1000;
}

.top-nav {

}

.navbar-dark .navbar-toggler {
	border:0;
}

.navbar-dark .navbar-nav .nav-link {
	font-weight:600;
    color:#cececf;
    font-size:16px;
	padding:11px 11px 11px 11px;
}

.navbar-dark .navbar-nav .nav-link:hover {
	background:#89898e;
}

.main-nav .navbar-nav .nav-link:hover {
	background:#349dff;
}

.turqoise-underline {

}

.navbar-brand {
	padding-top:0;
	padding-bottom:0;
}

// .md-logo-div {
// 	width:7.0em;
//     height:2.5em;
//     background-image:url('../img/bss-logo.svg');
//     -webkit-transition:background-image 0.2s ease-in-out;
//     -moz-transition:background-image 0.2s ease-in-out;
//     -ms-transition:background-image 0.2s ease-in-out;
//     -o-transition:background-image 0.2s ease-in-out;
//     transition:background-image 0.2s ease-in-out;
//     background-repeat:no-repeat;
// }

.navbar-dark .navbar-toggler {
    outline:none;
}

.main-nav .navbar-nav .nav-link, .main-nav .navbar-nav .nav-item a {
	font-weight:700;
	font-size:18px;
	color:#b9ffff;
	padding:30px 30px 30px 30px;
}

.dropdown-menu-full {
    margin-top:-1px;
	border-top:0;
}

.dropdown-menu-full .caret-list li a:hover {
	color:#0056b3 !important;
	color:$blue6 !important;
}


.dropdown-menu-full .caret-list li:hover a {
	color:#0056b3 !important;
	color:$blue6 !important;
}

.dropdown-menu-full .caret-list li:hover:before {
	color:#0056b3 !important;
	color:$blue6 !important;
}

#dropdown1 .fa-angle-down {
    font-weight:400;
    font-size:20px;
    top:3px;
    position:relative;	
}

#dropdown2 .fa-angle-down {
    font-weight:400;
    font-size:22px;
    top:3px;
    position:relative;	
}

.dropdown-item.active, .dropdown-item:active {
    background-color:none !important;
	background:none !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color:none !important;
    background:none !important;
}

.main-nav .fa-search {
	font-weight:400;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color:#18187d;
    background:#349dff;
}

.navbar .collapsed:before {
	content:none !important;
}

.top-nav-mobile {
	display:none;
	background:#343a40;
}

.top-nav-mobile .dropdown-menu {
	background:none;
}

.main-nav .top-nav-mobile .nav-item a {
	color:#cececf;
}

.main-nav .top-nav-mobile .nav-link:hover {
    background:#89898e;
}

.top-nav-mobile .active>.nav-link, .top-nav-mobile .nav-link.active, .top-nav-mobile .nav-link.show, .top-nav-mobile .show>.nav-link {
    color:#fff !important;
    background:#89898e !important;
}

@media (max-width:991px) {
	.main-nav .container {
		max-width:initial;
	}

	.main-nav .navbar-nav .nav-link, .main-nav .navbar-nav .nav-item a {
	    font-size:15px;
	}

	.top-nav-mobile {
		display:block;	
	}

	.md-logo-div {
	    margin-left:20px;
	}

	.main-nav {
		padding-top:15px;
		padding-bottom:15px;
		padding:15px 0 15px 0;
	}

	.main-nav .navbar-nav {
    	--margin-left:-15px !important;
    	--margin-right:-15px !important;
	}

	.main-nav .navbar-nav .nav-link, .main-nav .navbar-nav .nav-item a {
	    padding:15px;
	}
}

/* ===============
   SUBNAV
   =============== */

.dropdown-menu-full {
	background:#349dff;	
	border-radius:0;
	padding-top:40px;
	padding-bottom:80px;
}

.dropdown-menu-full .caret-list li a {
	padding:0 !important;
	color:#fff !important;
}

.dropdown-menu-full .caret-list {
    padding-left:48px;
}

.second-nav-row {
	margin-top:60px;
}

.nav-heading {
	border-bottom:3px solid #30b3fe;
	padding-bottom:15px;
	margin-bottom:20px;
	margin-top:60px;
}

.nav-heading-link {
	border:0;
	margin-top:80px;
}

.nav-heading-link h2 {
	padding-top:10px;
}

.nav-heading-link h2 a {
	font-size:44px;
    line-height:54px;
    font-weight:400;
	text-transform:initial !important;
	padding:0 !important;
	color:#fff;
}

.nav-heading .circle {
	border:3px solid #b9ffff;
	background-color:#359dff;
  	border-radius:50%;
	color:#fff;
	height:60px;
	width:60px;
	text-align:center;
	font-size:30px;
	position:relative;
	display:block;
    float:left;
    margin-right:20px;
	margin-top:10px;
	margin-bottom:0;
}

.nav-heading .circle .fas {
	color:#b9ffff;
}

.nav-heading h2 {
	color:#fff;
	margin-top:0;
}

.nav-heading h3 {
	color:#fff;
	margin-top:0;
    margin-bottom:-10px;
}

@media (max-width:1199px) {
	.nav-heading h2 {
		font-size:32px;
	}

	.nav-heading h3 {
		font-size:18px;
	}

	.nav-heading-link h2 a {
		font-size:32px;
	}
}

@media (max-width:991px) {
	.navbar-nav .dropdown-menu {
	    padding:0 10px 0 10px;
	}

	/*.nav-heading .circle {
	    height:50px;
	    width:50px;
	}*/

	.nav-heading .circle .s, .nav-heading .circle .fas {
	    margin-left: -17%;
	    font-size: 36px;
	}

	.nav-heading h2 {
	    font-size:22px;
	}

	.nav-heading h3 {
	    margin-bottom:-18px;
		font-size:15px;
	}

	.nav-heading-link h2 a {
		font-size:22px;
	}
}

@media (max-width:767px) {
	.second-nav-row {
		margin-top:0;
	}

	.dropdown-menu-full {
		padding-top:0
	}
}

.show > a > .fa-angle-down {
    transform:rotate(-180deg);
	transition:all 0.1s ease-in-out;
}

/* ===============
   SEARCH MENU
   =============== */
.search-menu {
    height:100%;
    position:absolute;
    top:-2px;
    width:100%;
    border-radius:0;
	background:#349dff;
    width:40em;
    left:-722%;
	margin-left:auto;
    padding:20px;
}

.search-menu #form-control-search {
    background:none;
	border:none;
	border-bottom:1px solid #fff;
	padding:5px;
	outline:none;
	border-radius:0;
	box-shadow:none;
    color:#b9ffff;
	font-size:26px;
}

.search-menu .btn {
    background:none;
	box-shadow:none;
    color:#b9ffff;
    font-size:18px;
	cursor:pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#b9ffff !important;
	opacity:1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#b9ffff !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:#b9ffff !important;
}


/* ===============
   BACKGROUNDS
   =============== */

.bg-blue {
	background-color:#18187d !important;
	background-image:none !important;
}

.bg-white {
	background-color:#fff !important;
}

.bg-white a {
	color:#359cf8;
}

.bg-white a:hover {
    color:#0056b3 !important;
	color:$blue6 !important;
}

.bg-grey {
	background-color:#f7f7 !important;
}

/* ===============
   HERO
   =============== */

.hero {
	background:#18187d;
    color:white;
	padding-top:190px;
	padding-bottom:60px;
	border-top:1px solid #b9ffff;
}

.home-hero {
	background-image:url('../img/home-tile.png');
    background-size:cover;
    background-position:50% 50%;
}

.hero h1 {
	font-weight:400;
	font-size:45px;
	color:#fff;
}

.hero p {
	font-size:27px;
	line-height:37px;
	font-weight:300;
	color:#fff;
}

/* ===============
   INLINE LIST
   =============== */

.hero .list-inline {
	margin-top:50px;
}

.hero .list-inline:before {
    display:inline-block;
    content:'GET ORIENTED ';
    font-size:16px;
    font-weight:700;
    padding-right:1.4em;
    padding-bottom:.5em;
}

.list-inline-item a {
    background:#349dff;
    border:0.15em solid #349dff;
    color:white;
    display:inline-block;
    margin-bottom:.5em;
    padding:.5em 1.5em;
    border-radius:1.5em;
	font-weight:500;
}

.active a {
	background:none;
}

.list-inline-item a:hover {
    background:#18187d;
}

@media (max-width:767px) {
	.hero .list-inline:before {
		display:block;
	}
}


/* ===============
   PAGE CONTENT
   =============== */

.white-background {
	background:#fff;
}

.page-content {
	padding-top:50px;
	padding-bottom:100px;
}

.page-content h4 {
	margin-top:50px;
	font-size:19px;
	font-weight:600;
}

.page-content p {
	color:#5c5a5b;
}

.page-content ul {
	padding-left:0;
	border-bottom:2px solid #ebebeb;
}

.page-content ul li {
	text-indent:0;
	border-top:2px solid #ebebeb;
	padding-top:18px;
	padding-bottom:18px;
	margin-bottom:0;
	padding-left:0;
	list-style-type:none;
	font-size:18px;
	line-height:27px;
}

.page-content ul li a {
	font-weight:600;
	font-size:18px;
	line-height:27px;
}

/* ===============
   BREADCRUMBS
   =============== */

.breadcrumbs {
	margin-top:20px;
}

.breadcrumbs ul {
	padding-left:0;
}

.breadcrumbs ul li {
	display:inline-block;
	color:#89898e;
	font-weight:600;
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
	letter-spacing:1px;
}

.breadcrumbs ul li:after {
	font-family: 'Font Awesome 5 Pro';
	font-weight: 700;
	font-size: 18px;
	content: '\f105';
    display:inline-block;
	padding-right:8px;
	color:#c2c2c2;
	margin-left:12px;
}

.breadcrumbs ul li:last-child:after {
	content:' ' !important;
}

.breadcrumbs ul li a {
	color:#359dff;
	text-transform:uppercase;
	font-weight:600;
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
	letter-spacing:1px;
}

.breadcrumbs ul li a:hover {
	color:#0056b3;
	color:$blue6 !important;
}

.social-share {
	padding-right:20px;
	margin-top:20px;
	text-align:right;
}

.social-share a {
	color:#c6c6c8;
	margin-left:21px;
	font-size:15px;
}

@media (max-width:991px) {
	.social-share {
		text-align:left;
		margin-left:-20px;
		margin-top:0;
	}
}

/* ===============
   FEATURED
   =============== */

.featured {
	padding-top:20px;
}

.featured-container {
	border-bottom:2px solid #ebebeb;
	--padding-bottom:60px;
	margin-bottom:15px;
}

.featured-slider-controls ul {
	padding-left:0;
	margin-left:0;
}

.featured-slider-controls ul li {
	display:inline-block;
	list-style-type:none;
	margin-right:3px;
}

.featured-slider-controls .dot {
	height:15px;
	width:15px;
	background-color:#359dff;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
}

.featured-slider-controls .active {
	background:#8a8a8c;
}

.featured-slider-controls .fa-angle-left {
	font-size:22px;
    top:1px;
    position:relative;
	margin-right:10px;
	margin-left:10px;
    font-weight:400;
}

.featured-slider-controls .fa-angle-right {
	font-size:18px;
    top:1px;
    position:relative;
    font-weight:700;
}



/* ===============
   TOOLS
   =============== */

.tools {
	padding-top:140px;
}

.tools-container {

}

.tools-row {
	padding-bottom:60px;
}

.tools h2 {

	color:#3c3c3e;
}

.tool-row {
	border-top:2px solid #ebebeb;
	padding-top:50px;
	padding-bottom:50px;
}

.tool-row h2 {
	margin-top:0;
	color:#359dff;
}

.tool-row h3 {
	color:#359dff;
	font-size:17px;
	text-transform:uppercase;
	margin-bottom:-5px;
}

/* ===============
   CARET LIST
   =============== */

.caret {
    text-indent:0;
	font-weight:600;
	font-size:18px;
}

.caret:before {
	font-family: 'Font Awesome 5 Pro';
	font-weight: 700;
	font-size: 18px;
	content: '\f105';
    display:inline-block;
    padding-right:24px;
    color:#8dcbfe;
    transition: all 0.3s ease;
}

.caret-list {
	color:#359dff;
	font-size:18px;
	font-weight:600;
	padding-left:0;
	margin-top:5px;
}

.caret-list a {

}

.caret-list li {
	list-style-type:none;
    margin-bottom:8px;
	text-indent:-24px;
}

.caret-list li:before {
	font-family: 'Font Awesome 5 Pro';
	font-weight: 700;
	font-size: 18px;
	content: '\f105';;
    display:inline-block;
	padding-right:14px;
	color:#8dcbfe;
    transition: all 0.3s ease;
}

.post-sub .caret-list {
	border-bottom:0;
}

.post-sub .caret-list li {
	border-top:0;
	padding-bottom:0;
	padding-top:0;
	margin-bottom:8px;
}

@media (max-width:991px) {
	.home .circle {
		margin-bottom:0;
	}

	.home .caret-list {
	    padding-left:50px;
	}
}

/* ===============
   CIRCLE ICONS
   =============== */

.circle {
	border:3px solid #359dff;
	background-color:#359dff;
  	border-radius:50%;
	color:#fff;
	height:60px;
	width:60px;
	text-align:center;
	font-size:30px;
	position:relative;
	display:block;
    float:left;
    margin-right:20px;
	margin-top:10px;
	margin-bottom:100px;
}

.tool-row .circle {
	--margin-top:12px;
}

.circle .s, .circle .fas {
	position:absolute;
	top:52%;
    margin-left:-14%;
	transform:translateY(-50%) !important;
	font-size:50px;
	font-weight:300;
}

.circle .fa-angle-down {
    margin-left:-22%;
}

.circle-white {
	border:3px solid #359dff;
	background:#fff;
    margin-top:0;
}

.circle-white .s, .circle-white .fas {
	color:#359dff !important;
}

.circle-charcoal {
	border:3px solid #3c3c40;
	background:#3c3c40;
}

.circle-charcoal .s {
	color:#fff;
	font-size:24px !important;
    margin-left:-20%;
}

a.circle-icon-cta {
	color:#329fff;
    font-size:44px;
    line-height:54px;
    font-weight:400;
}

a.circle-icon-cta:hover {
	color:#0056b3;
	color:$blue6 !important;
}

.circle-icon-cta .circle {
	float:left;
	margin-right:30px;
}

/* ===============
   QUOTE
   =============== */

.quote {
	background-image: url('footer-tile.svg');
    background-size: cover;
    background-position: 50% 50%;
	padding-top:80px;
	padding-bottom:80px;	
}

.quote-circle {
	width:63px;
	height:63px;
	float:left;
	background:url('icon-quotecircle.svg') no-repeat;
	background-size:cover;
	display:block;
    margin-top:5px;
}

.quote-text {
    color:#89898e;
	font-size:48px;
    padding-left: 5rem;
	display:block;
	line-height:1;
}

.quote-author {
	display:block;
	font-weight:700; 
	color:#89898e;
	font-size:16px;
    margin-top: -2rem;
    margin-left: 5rem;
}

/* ===============
   PAGE HEADING
   =============== */

.page-heading {
	padding-bottom:35px;
}

.page-heading h1 {
    margin-top:65px;
	margin-bottom:15px;
}

.page-heading p {
	color:#5c5a5b;
}

.page-heading .topics-wrapper {
	margin-top:60px;
}

.page-heading .topics-heading {
	font-weight:600;
	padding-right:20px;
	font-size:15px;
}

.page-heading .topic {
	display:block;
    vertical-align:top;
	padding-left:20px;
}

.page-heading .topic li {
	list-style-type:none;
}

.page-heading .topic li a {
    vertical-align:top;
}

.page-heading .topics {
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	color:#89898e;
	letter-spacing:1px;
	font-size:15px;
}

.page-heading .topics a {
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
	font-weight:600;
	font-size:15px;
}

.page-heading .topic .sub-topic {
	display:inline-block;
    vertical-align:top;
}

.page-heading .topic .sub-topic li {
	background:url('../img/arrow-down-right.png') no-repeat 0 2px;
	padding-left:20px;
}

.page-heading .page-heading-cta {
	font-weight:600;
	font-size:19px;
}

.page-heading .page-heading-cta .circle {
	height:20px;
	width:20px;
	font-size:20px !important;
	margin-top:5px;
	margin-bottom:0;
	margin-right:10px;
}

.page-heading .page-heading-cta .circle .fas {
    font-size: 20px !important;
}

@media (max-width:991px) {
	.page-heading .topic {
		padding-left:0;
	}

	.page-heading .topic .sub-topic {
	    padding-left:0;
	}
}

/* ===============
   PAGINATION
   =============== */

.pagination {
	text-transform:uppercase;
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
	color:#89898e;
}

.pagination-top {
	padding-top:50px;
	padding-bottom:10px;
}

.pagination-bottom {
	padding-top:25px;
	padding-bottom:60px;
	border-top:2px solid #ebebeb;
}

.pagination a {
	padding-left:12px;
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
}

/* ===============
   RESOURCES
   =============== */

.resources {

}

.resources .resource {
	border-top:2px solid #ebebeb;
	padding-top:0;
	padding-bottom:15px;
    margin-right:70px;
    clear:both;
}

.resources .resource h2 {
	font-size:17px;
	font-weight:600;
	margin-bottom:0;
}

.resources .resource .topics-wrapper {

}

.resources .resource .topics, .community-footer-row .resource .topics {
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	color:#89898e;
	margin-top:-5px;
	letter-spacing:1px;
}

.resources .resource .topics:before, .community-footer-row .resource .topics:before {
	content:'Topics';
	font-weight:600;
	padding-right:20px;
}

.resources .resource .recommended {
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    color:#89898e;
    margin-top:-5px;
    letter-spacing:1px;
	float:right;
	top:20px;
	position:relative;
}

.resources .resource .recommended .dot {
	display:inline-block;
	height:12px;
	width:12px;
	border-radius:50%;
	background:#359dff;
}

@media (max-width:991px) {
	.resources .resource .recommended {
	    float:none;
	    top:10px;
	}
}

@media (max-width:767px) {
	.resources .resource {
		margin-right:0;
	}
}

/* ===============
   SIDEBAR
   =============== */

.sidebar {
	border-left:2px solid #ebebeb;
	padding-left:25px;
	// --padding-top:130px;
	background:#fff;
    margin-bottom:-9999px;
	height:100vh;
	// position:fixed;
	z-index:1;
	// height:9999px;
    // --width:999px;
    // overflow-x:hidden;
    // transition:opacity 0.3s ease;
	background:#fff;
    // padding-right: 999px;
    // margin-right: -999px;
	// --margin-bottom:-999px;
    top: 0;
}

// .sidebar-inner {
	// padding-top:270px;
	// width:230px;
    // overflow:auto;
	// height:calc(100vh - 10px);
// }

.sidebar-inner::-webkit-scrollbar {
	display: none;
}

.faux-sidebar {
	border-left:2px solid #ebebeb;
	padding-left:25px;
	padding-top:100px;
	background:#fff;
    --margin-bottom: -9999px;
	height:100%;
	z-index:0;
}

.sidebar-top {
    z-index:99 !important;
    overflow:visible;
    position:relative;
}

.sidebar h3 {
	border-bottom:2px solid #ebebeb;
	padding-bottom:10px;
	margin-bottom:0;
}

.sidebar .caret-list li {
	text-indent:0;
	border-bottom:none;
	margin-bottom:0;
    padding-top:5px;
    padding-bottom:5px;
}


.sidebar .caret-list li:before {
	padding-left:0;
    padding-right: 32px;
}

@media (max-width:767px) {
	.sidebar {
		opacity:0;
		z-index:-1;
	}
}

/* ===============
   RESOURCES FOOTER
   =============== */

.resources-footer {
	background:#3c3b40;
	padding:80px 20px 160px 20px;
	color:#fff;
	border-bottom:1px solid #89888d;
}

.resources-footer .resource {
	padding-top:35px;
	padding-bottom:50px;
	border-bottom:1px solid #89888d;	
}

.resources-footer h2 {
	color:#fff;
	border-bottom:1px solid #89888d;
	padding-bottom:35px;
}

.resources-footer .resource h3 {
	margin-bottom:12px;
}

.resources-footer .resource h3 a {
	color:#40bce2;
	font-size:25px;
	font-weight:400;
}

.resources-footer .resource h3 a:hover {
	color:#fff;
}

.resources-footer .resource .topics-wrapper {

}

.resources-footer .resource .topics {
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	color:#89898e;
	margin-top:-5px;
	letter-spacing:1px;
	width:80%;
}

.resources-footer .resource .topics:before {
	content:'Topics';
	font-weight:600;
	padding-right:20px;
}

@media (max-width:991px) {
	.resources-footer .resource .topics {
		width:100%;
	}
}

/* ===============
   POSTS
   =============== */

.post-meta {
	font-family:'Roboto Mono', 'Roboto', Helvetica, Arial, sans-serif;
	color:#89898e;
	text-transform:uppercase;
	margin-top:15px;
	margin-bottom:15px;
}

.post-date {

}

.post-author {
	margin-left:60px;
}

/**
.post-sub-wrapper {
	padding-top:30px;
	padding-right:70px;
	padding-bottom:100px;
}
**/

.post-sub-wrapper p:first-child, .post-sub-wrapper h1:first-child,.post-sub-wrapper h2:first-child,.post-sub-wrapper h3:first-child, .post-sub-wrapper ul:first-child {
	margin-top:50px;
}

.post-sub {

}

.post-sub h4 {
	margin-top:50px;
	font-size:19px;
	font-weight:600;
}

.post-sub p {
	color:#5c5a5b;
}

.post-sub ul {
	padding-left:0;
	border-bottom:2px solid #ebebeb;
}

.post-sub ul li {
	text-indent:0;
	border-top:2px solid #ebebeb;
	padding-top:18px;
	padding-bottom:18px;
	margin-bottom:0;
	padding-left:0;
	list-style-type:none;
	font-size:18px;
	line-height:27px;
}

.post-sub ul li a {
	font-weight:600;
	font-size:18px;
	line-height:27px;
}

@media (max-width:500px) {
	.post-author {
	    margin-left:0;
	    display:block;
	}
}

/* ===============
   ACCORDION
   =============== */

.accordion {
    --border-top:2px solid #ebebeb !important;
}

.card-header .btn:before {
    padding-left:0 !important;
	font-weight: 700;
	font-size: 10px;
    color: #2f2f2f;
    font-family:'Font Awesome 5 Pro';
    content:'\f068';
    display: inline-block;
    padding-right:20px;
    color:#8dcbfe;
}

.card-header .btn {
    font-size:18px;
    font-family:'Roboto', Helvetica, Arial, sans-serif;
    color:#329fff;
    font-weight:600;
	text-align:left;
	padding:0;
	border:0;
	border-radius:0;
	text-decoration:none;
    margin-top:-12px;
    transition:all 0.3s ease;
}

.card-header .btn:hover {
	color:#0056b3 !important;
	color:$blue6 !important;
}

.card-header {
	padding:0;
	background:none;
	border:0;
    margin-bottom:0;
    --border-bottom:2px solid #ebebeb !important;

}

.card {
	border:0;
	border-radius:0;
	border-bottom:2px solid #ebebeb !important;
}

.card-body {
    padding:0;
}

.collapsed:before {
    font-family:'Font Awesome 5 Pro';
    content:'\f067' !important;
	font-weight: 700;
	font-size: 10px;
}

/* ===============
   FOOTER
   =============== */

.footer {
	background:#3c3b40;
	padding:50px 20px 50px 20px;
	color:#8f8e93;
	font-size:16px;
}

.footer p {
	color:#8f8e93;
	font-size:16px;
}

.footer .caret-list {
	padding-left:28px;
	margin-top:25px;
}

.footer .caret-list li {
	text-indent:-14px;
}

.footer .caret-list li a {
	color:#fff;
}

.footer .caret-list li a:hover {
	color:#89898e;
}

.footer .caret-list li:before {
    color:#fff;
}

.footer .caret-list li:hover a {
	color:#89898e;
}

.footer .caret-list li:hover:before {
	color:#89898e;
}

.footer .copyright {
	margin-bottom:30px;
}

.sub-footer {
	padding-top:140px;
}

.sub-footer img {
	--display:inline-block;
	padding:0 40px 0 0;
	max-width:33%;
	float:left;
}

.sub-footer .us-doe-footer {
	opacity:10;
}

.sub-footer .nnsa-footer {
	opacity:4;
}

.sub-footer .ecp-footer {
	opacity:8;
	max-height:80px;
	margin-top:-15px;
	padding-right:0;
}

.copyright {
	border-top:2px solid #636267;
	padding-top:35px;
	font-weight:600;
}

@media (max-width:991px) {
	.sub-footer img {
	    padding:0 20px 0 0;
	}
}

