<% if @resources.respond_to?(:next_page) %>
            <%= will_paginate @resources %>

	&nbsp;| <%= link_to "View All", params.merge(:view => 'all', :page => 1).permit! %>


<% elsif params[:view] || params[:author] || params[:topic] || params[:category] %>
  <% if params[:author] %>

    <div class='container'>
<% end %.
      1-<%= @resources.size %> of <%= @resources.size %> Items
<% if params[:author] %>

    </div>
<% end %>
  <% end %>



