<div class="container">
  <div class="row">

    <% if params[:view] || params[:author] || params[:topic] %>
                  1-<%= @resources.total_entries %> of <%= @resources.total_entries %> Items
<% elsif @resources.respond_to?(:next_page) %>
            <%= will_paginate @resources %>
      <% if @resources.next_page %>
	&nbsp;| <%= link_to "View All", params.merge(:view => 'all', :page => 1).permit! %>
      <% end %>
    <% end %>

  </div>
</div>

